pipeline/pl_common_verify_file_sharepoint.json
{
	"name": "pl_common_verify_file_sharepoint",
	"properties": {
		"activities": [
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Search File Version",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Search File Version').output.firstRow.Version,'Atual')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "pl_common_shp_copy-sharepointsinglefiletodatalake",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_common_shp_copy-sharepointsinglefiletodatalake",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"parFileName": {
										"value": "@variables('varSHPBilingFilename')",
										"type": "Expression"
									},
									"parNewFileName": {
										"value": "@variables('varSHPBilingFilename')",
										"type": "Expression"
									},
									"parUTCNow": {
										"value": "@variables('varUTCNow')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Carga Biling Tipification Delta Table",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "pl_common_shp_copy-sharepointsinglefiletodatalake",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/rafael.medeiros2@br.nestle.com/sl_creditnotes_tipification/06_tipification_shp_transfer",
								"baseParameters": {
									"parArchivoNombreAtual": {
										"value": "@activity('Search File Version').output.firstRow.ActualNombreArchivo",
										"type": "Expression"
									},
									"parDateTimeUTC": {
										"value": "@variables('varUTCNow')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lk_nmex_dv_origenesmx_id_usw2_dbr",
								"type": "LinkedServiceReference",
								"parameters": {
									"par_cluster": "0130-211945-mcv1mi12"
								}
							}
						}
					]
				}
			},
			{
				"name": "Verify File Version",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "VAR UTC NOW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/rafael.medeiros2@br.nestle.com/sl_creditnotes_tipification/03_verify_file_version_tipification",
					"baseParameters": {
						"parFileOutputName": {
							"value": "@variables('varSHPBilingFilename')",
							"type": "Expression"
						},
						"parNowDateTimeUTC": {
							"value": "@variables('varUTCNow')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lk_nmex_dv_origenesmx_id_usw2_dbr",
					"type": "LinkedServiceReference",
					"parameters": {
						"par_cluster": "0130-211945-mcv1mi12"
					}
				}
			},
			{
				"name": "Search File Version",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Verify File Version",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_adsl2_origenesmx_csv",
						"type": "DatasetReference",
						"parameters": {
							"par_directory": "inbound/credit_notes/files_tipification/01_FileVersionControl",
							"par_filename": "FileVersionTipificationControl.csv",
							"par_delimeter": ","
						}
					}
				}
			},
			{
				"name": "VAR UTC NOW",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Archivo Nombre",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varUTCNow",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Logic App Credit Notes",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-00-nams-pr-baisein-wrpa5gaht7mno-internal.westus2.environments.microsoftazurelogicapps.net:443/workflows/ef225bc09ba04743964045e7cce8cfcc/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=auO8sQ8k44fZEYc-IskF0tnPfT_KS-fonchYIytFGfQ",
					"connectVia": {
						"referenceName": "nmex-pp-origenesmx-ithub-ir",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"body": {
						"value": "@concat('{\n\"Operacao\": \"GET FILE\"\n}')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Archivo Nombre",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Logic App Credit Notes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varSHPBilingFilename",
					"value": {
						"value": "@activity('Logic App Credit Notes').output.Arquivo",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"varSHPBilingFilename": {
				"type": "String"
			},
			"varSHPTrabajoFilename": {
				"type": "String"
			},
			"varUTCNow": {
				"type": "String"
			}
		},
		"folder": {
			"name": "amsmx_finance_creditnotes"
		},
		"annotations": [],
		"lastPublishTime": "2023-12-11T18:16:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}