pipeline/pl_common_shp_copy-sharepointsinglefiletodatalake.json
{
	"name": "pl_common_shp_copy-sharepointsinglefiletodatalake",
	"properties": {
		"description": "Direct copy of sharepoint file to datalake\n\nTo use this pipeline you need to have the sharepoint client id and secret id registered in the dedicated sharepoint key vault",
		"activities": [
			{
				"name": "GetShpClientId",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@pipeline().parameters.parClientID",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "GetShpSecret",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@pipeline().parameters.parClientSecret",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "GetSharepointBearerToken",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetShpClientId",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GetShpSecret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://accounts.accesscontrol.windows.net/12a3af23-a769-4654-847f-958f3d479f4a/tokens/OAuth/2",
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "@concat('grant_type=client_credentials&client_id=',uriComponent(activity('GetShpClientId').output.value),'@12a3af23-a769-4654-847f-958f3d479f4a&client_secret=',uriComponent(activity('GetShpSecret').output.value),'&resource=00000003-0000-0ff1-ce00-000000000000/nestle.sharepoint.com@12a3af23-a769-4654-847f-958f3d479f4a')\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy File",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetSharepointBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET",
							"additionalHeaders": {
								"value": "@{concat('Authorization: Bearer ', activity('GetSharepointBearerToken').output.access_token)}",
								"type": "Expression"
							},
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_ar_rest_shp_binary",
						"type": "DatasetReference",
						"parameters": {
							"par_Url": {
								"value": "@concat(pipeline().parameters.parShpSiteUrl,'/_api/web/GetFileByServerRelativeUrl(''',replace(pipeline().parameters.parShpSiteUrl,'https://nestle.sharepoint.com',''),pipeline().parameters.parShpRelativeFolderPath,'/',pipeline().parameters.parFileName,''')/$value')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adsl2_origenesmx_binary",
						"type": "DatasetReference",
						"parameters": {
							"par_directory": {
								"value": "@concat(pipeline().parameters.parAdlsDestinationFolder, '/', pipeline().parameters.parUTCNow)",
								"type": "Expression"
							},
							"par_filename": {
								"value": "@pipeline().parameters.parFileName",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"parEnvironment": {
				"type": "string"
			},
			"parAdlsDestinationFolder": {
				"type": "string",
				"defaultValue": "inbound/credit_notes/files_transfer"
			},
			"parFileName": {
				"type": "string"
			},
			"parShpSiteUrl": {
				"type": "string",
				"defaultValue": "https://nestle.sharepoint.com/teams/MXFillOutBillingReference"
			},
			"parShpRelativeFolderPath": {
				"type": "string",
				"defaultValue": "Shared Documents/Archivos tipificación"
			},
			"parNewFileName": {
				"type": "string"
			},
			"parClientID": {
				"type": "string",
				"defaultValue": "https://nmexdvorigmxdhusw2key.vault.azure.net/secrets/shp-clientid-mxbilingrebates/?api-version=7.0"
			},
			"parClientSecret": {
				"type": "string",
				"defaultValue": "https://nmexdvorigmxdhusw2key.vault.azure.net/secrets/shp-clientsecret-mxbilingrebates/?api-version=7.0"
			},
			"parUTCNow": {
				"type": "string"
			}
		},
		"variables": {
			"varUTCNow": {
				"type": "String"
			}
		},
		"folder": {
			"name": "amsmx_finance_creditnotes/Utils/SharePoint/Toolset"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-07T23:28:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}