pipeline/pl_common_shp_copy-multiplefilestodatalakehourfilter.json
{
	"name": "pl_common_shp_copy-multiplefilestodatalakehourfilter",
	"properties": {
		"description": "Copy files of any size from SharePoint  to Data Lake, including copy all files matching a startswith condition of a folder and files modified in the last x hours.\n\nTo use this pipeline you need to have the sharepoint client id and secret id registered in the dedicated sharepoint key vault",
		"activities": [
			{
				"name": "Carga Tipification COMP - Inbound",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Copy File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/rafael.medeiros2@br.nestle.com/sl_creditnotes_tipification/02_inbound_tipification_new_archivo",
					"baseParameters": {
						"parArchivoNombreAtual": {
							"value": "@variables('var_FileTipificationNameOut')",
							"type": "Expression"
						},
						"parDateTimeUTC": {
							"value": "@pipeline().parameters.par_UtcNowVar",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lk_nmex_dv_origenesmx_id_usw2_dbr",
					"type": "LinkedServiceReference",
					"parameters": {
						"par_cluster": "0130-211945-mcv1mi12"
					}
				}
			},
			{
				"name": "pl_common_process_tipification",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Carga Tipification COMP - Inbound",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_common_process_tipification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Copy File",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Filename Copy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_adsl2_extdata_binary",
						"type": "DatasetReference",
						"parameters": {
							"par_directory": "Sharepoint_CreditNotes",
							"par_filename": {
								"value": "@variables('var_FileTipificationNameOut')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adsl2_origenesmx_binary",
						"type": "DatasetReference",
						"parameters": {
							"par_directory": {
								"value": "@concat(pipeline().parameters.parAdlsDestinationFolder,'/',pipeline().parameters.par_UtcNowVar)",
								"type": "Expression"
							},
							"par_filename": {
								"value": "@variables('var_FileTipificationNameOut')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Filename Copy",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LogicAppCopy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_FileTipificationNameOut",
					"value": "Tipification_Trabajo.xlsx"
				}
			},
			{
				"name": "LogicAppCopy",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-00-nams-pr-baisein-wrpa5gaht7mno-internal.westus2.environments.microsoftazurelogicapps.net:443/workflows/ef225bc09ba04743964045e7cce8cfcc/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=auO8sQ8k44fZEYc-IskF0tnPfT_KS-fonchYIytFGfQ",
					"connectVia": {
						"referenceName": "nmex-pp-origenesmx-ithub-ir",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"body": {
						"value": "@concat('{\n\"Operacao\": \"COPY TRABAJO\"\n}')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"parEnvironment": {
				"type": "string",
				"defaultValue": "dev"
			},
			"parAdlsDestinationFolder": {
				"type": "string"
			},
			"par_UtcNowVar": {
				"type": "string"
			}
		},
		"variables": {
			"var_FileTipificationNameOut": {
				"type": "String"
			},
			"varNombreArchivoAtual": {
				"type": "String"
			},
			"varNombreNewArchivo": {
				"type": "String"
			},
			"varPathUTCArchivoAnterior": {
				"type": "String"
			}
		},
		"folder": {
			"name": "amsmx_finance_creditnotes/Utils/SharePoint/Toolset"
		},
		"annotations": [],
		"lastPublishTime": "2023-12-11T18:16:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}