pipeline/pl_copy_blob_to_blob_atp_files.json
{
	"name": "pl_copy_blob_to_blob_atp_files",
	"properties": {
		"activities": [
			{
				"name": "Get Carpeta",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adsl2_extdata_binary",
						"type": "DatasetReference",
						"parameters": {
							"par_directory": {
								"value": "@pipeline().parameters.par_Folder",
								"type": "Expression"
							},
							"par_filename": {
								"value": "@pipeline().parameters.par_Archivo_Nombre",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Filter Archivos",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Carpeta",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Carpeta').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type,'File')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach Copy",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter Archivos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter Archivos').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Files",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_adsl2_extdata_binary",
									"type": "DatasetReference",
									"parameters": {
										"par_directory": {
											"value": "@pipeline().parameters.par_Folder",
											"type": "Expression"
										},
										"par_filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adsl2_origenesmx_binary",
									"type": "DatasetReference",
									"parameters": {
										"par_directory": {
											"value": "@pipeline().parameters.par_Destination_Folder",
											"type": "Expression"
										},
										"par_filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy Files",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_adsl2_extdata_binary",
									"type": "DatasetReference",
									"parameters": {
										"par_directory": {
											"value": "@pipeline().parameters.par_Folder",
											"type": "Expression"
										},
										"par_filename": {
											"value": "@pipeline().parameters.par_Archivo_Nombre",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@{pipeline().parameters.par_Archivo_Nombre}",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"par_Folder": {
				"type": "string"
			},
			"par_Archivo_Nombre": {
				"type": "string"
			},
			"par_Destination_Folder": {
				"type": "string"
			}
		},
		"variables": {
			"parPathCopy": {
				"type": "String"
			},
			"parFileNameCopy": {
				"type": "String"
			},
			"parContainer": {
				"type": "String"
			},
			"parPathDestination": {
				"type": "String"
			}
		},
		"folder": {
			"name": "amsmx_supply_alice"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-07T23:28:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}