pipeline/pl_common_generic_api_login.json
{
	"name": "pl_common_generic_api_login",
	"properties": {
		"activities": [
			{
				"name": "Get ADF_parameters_apis_login",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_adls_datascience_csv",
						"type": "DatasetReference",
						"parameters": {
							"par_directory": "datastore/sales/adf_parameters/",
							"par_filename": "ADF_parameters_mayoreo_apis_login.csv",
							"par_delimiter": ",",
							"par_encoding": "UTF-8",
							"par_header": true
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter ADF_parameters_apis_login",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get ADF_parameters_apis_login",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get ADF_parameters_apis_login').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(string(item().retailer),pipeline().parameters.par_retailer)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web Login",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Filter ADF_parameters_apis_login",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@activity('Filter ADF_parameters_apis_login').output.value[0]['url']",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "@concat('{ \"username\":\"',activity('Filter ADF_parameters_apis_login').output.value[0]['username'],'\", \"password\": \"',activity('Filter ADF_parameters_apis_login').output.value[0]['password'],'\" }')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable api token",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web Login",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_api_token",
					"value": {
						"value": "@concat('Bearer ',activity('Web Login').output.token)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"par_retailer": {
				"type": "string"
			}
		},
		"variables": {
			"var_test": {
				"type": "String"
			},
			"var_api_token": {
				"type": "String"
			}
		},
		"folder": {
			"name": "amsmx_sales/amsmx_common_db"
		},
		"annotations": [],
		"lastPublishTime": "2023-12-11T18:16:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}