pipeline/pl_extract_move_blob_to_blob_filter.json
{
	"name": "pl_extract_move_blob_to_blob_filter",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata Alice",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adsl2_origenesmx_binary",
						"type": "DatasetReference",
						"parameters": {
							"par_directory": {
								"value": "@pipeline().parameters.parPathCopy",
								"type": "Expression"
							},
							"par_filename": {
								"value": "@pipeline().parameters.parFolderName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach Folders",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter Folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter Folder').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Metadata Inside Folder",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_adsl2_origenesmx_binary_source",
									"type": "DatasetReference",
									"parameters": {
										"parContName": {
											"value": "@pipeline().parameters.parContName",
											"type": "Expression"
										},
										"parPathCopy": {
											"value": "@concat(pipeline().parameters.parPathCopy,item().name)",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"childItems",
									"itemName"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "Copy Folder Content",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Get Metadata Inside Folder",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@concat(pipeline().parameters.parPathCopy,item().name)",
											"type": "Expression"
										},
										"wildcardFileName": "*",
										"deleteFilesAfterCompletion": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_adsl2_origenesmx_binary_source",
									"type": "DatasetReference",
									"parameters": {
										"parContName": {
											"value": "@pipeline().parameters.parContName",
											"type": "Expression"
										},
										"parPathCopy": {
											"value": "@pipeline().parameters.parPathCopy",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adsl2_origenesmx_binary_sink",
									"type": "DatasetReference",
									"parameters": {
										"parContName": {
											"value": "@pipeline().parameters.parContName",
											"type": "Expression"
										},
										"parPathDestination": {
											"value": "@concat(pipeline().parameters.parPathDestination,'/',item().name)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete Files and Folders",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy Folder Content",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_adsl2_origenesmx_binary_source",
									"type": "DatasetReference",
									"parameters": {
										"parContName": {
											"value": "@pipeline().parameters.parContName",
											"type": "Expression"
										},
										"parPathCopy": {
											"value": "@{concat(pipeline().parameters.parPathCopy,item().name)}",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			},
			{
				"name": "Filter Folder",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata Alice",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata Alice').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type,'Folder')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"parFolderName": {
				"type": "string"
			},
			"parContName": {
				"type": "string"
			},
			"parPathCopy": {
				"type": "string"
			},
			"parPathDestination": {
				"type": "string"
			}
		},
		"variables": {
			"varFiles30Days": {
				"type": "String"
			},
			"varReferenceDate": {
				"type": "String",
				"defaultValue": "1900-01-01 00:00:00"
			}
		},
		"folder": {
			"name": "amsmx_supply_alice"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-07T23:28:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}