pipeline/pl_load_sales.json
{
	"name": "pl_load_sales",
	"properties": {
		"activities": [
			{
				"name": "Get ADF DB notebooks parameters",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_adls_datascience_csv",
						"type": "DatasetReference",
						"parameters": {
							"par_directory": "datastore/sales/adf_parameters/",
							"par_filename": "ADF_parameters_db_notebooks.csv",
							"par_delimiter": ",",
							"par_encoding": "UTF-8",
							"par_header": true
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach ADF DB notebooks parameters",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get ADF DB notebooks parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get ADF DB notebooks parameters').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "If Condition ADF DB notebooks parameters",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().blob_filename,pipeline().parameters.par_blob_filename)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "pl_load_sales",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "pl_common_generic_databricks_notebooks_solution",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"par_db_folder_path": {
													"value": "@string(item().db_folder_path)",
													"type": "Expression"
												},
												"par_db_sol_path": {
													"value": "@string(item().db_sol_path)",
													"type": "Expression"
												},
												"par_solution": {
													"value": "@string(item().solution)",
													"type": "Expression"
												},
												"par_id": {
													"value": "@string(item().id)",
													"type": "Expression"
												},
												"par_parquet": {
													"value": "@string(item().parquet)",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"par_blob_path": {
				"type": "string"
			},
			"par_blob_filename": {
				"type": "string"
			}
		},
		"variables": {
			"var_db_folder_path": {
				"type": "String"
			},
			"var_db_sol_path": {
				"type": "String"
			},
			"var_solution": {
				"type": "String"
			},
			"var_id": {
				"type": "String"
			},
			"var_test": {
				"type": "String"
			}
		},
		"folder": {
			"name": "amsmx_sales"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-07T23:28:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}