pipeline/pl_nixtla_data_validation.json
{
	"name": "pl_nixtla_data_validation",
	"properties": {
		"activities": [
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/fernando.vazquez1@mx.nestle.com/DatabricksMX/sl_ventas/nixtla/data_validationl/00001_data_validation"
				},
				"linkedServiceName": {
					"referenceName": "lk_nmex_dv_origenesmx_id_usw2_dbr",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "flag",
					"value": {
						"value": "@activity('Notebook1').output.runOutput.error",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(variables('flag'), 'ERROR')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Notebook2",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/fernando.vazquez1@mx.nestle.com/DatabricksMX/sl_ventas/nestle-pipeline"
							},
							"linkedServiceName": {
								"referenceName": "lk_nmex_dv_origenesmx_id_usw2_dbr",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Fail1",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "DATOS NO VALIDOS ",
								"errorCode": {
									"value": "@variables('flag')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"outputnotebok": {
				"type": "string"
			}
		},
		"variables": {
			"flag": {
				"type": "String"
			}
		},
		"folder": {
			"name": "amsmx_nixtla"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-07T23:28:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}