pipeline/pl_sales_refresh_power_bi.json
{
	"name": "pl_sales_refresh_power_bi",
	"properties": {
		"activities": [
			{
				"name": "Get ADF_parameters_sharepoint",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_adls_datascience_csv",
						"type": "DatasetReference",
						"parameters": {
							"par_directory": "datastore/sales/adf_parameters/",
							"par_filename": "ADF_parameters_sharepoint.csv",
							"par_delimiter": ",",
							"par_encoding": "UTF-8",
							"par_header": true
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach look up value",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get ADF_parameters_sharepoint",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get ADF_parameters_sharepoint').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().blob_filename,pipeline().parameters.par_blob_filename)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Execute Pipeline Power BI refresh",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "Set variable workspace_id",
												"dependencyConditions": [
													"Succeeded"
												]
											},
											{
												"activity": "Set variable dataset_id",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "pl_common_generic_refresh_power_bi_dataset",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"par_id_workspace": {
													"value": "@variables('var_workspace_id')",
													"type": "Expression"
												},
												"par_id_dataset": {
													"value": "@variables('var_dataset_id')",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "Set variable workspace_id",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "var_workspace_id",
											"value": {
												"value": "@string(item().workspace_id)",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set variable dataset_id",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "var_dataset_id",
											"value": {
												"value": "@string(item().dataset_id)",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"par_blob_filename": {
				"type": "string"
			},
			"par_blob_path": {
				"type": "string"
			}
		},
		"variables": {
			"var_workspace_id": {
				"type": "String"
			},
			"var_dataset_id": {
				"type": "String"
			}
		},
		"folder": {
			"name": "amsmx_sales"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-07T23:28:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}