nmex-dv-origmx-dh-usw2-adf/linkedTemplates/ArmTemplate_8.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "nmex-dv-origmx-dh-usw2-adf"
		},
		"tg_nixtla_model_execution_main_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/a6c9f13d-be73-4227-b485-c7a16289be08/resourceGroups/nmex-pp-origenesmx-dh-usea-rgp/providers/Microsoft.Storage/storageAccounts/nmexpporigdsdh79sta"
		},
		"tr_catalogo_geografico_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/a6c9f13d-be73-4227-b485-c7a16289be08/resourceGroups/nmex-pp-origenesmx-dh-usea-rgp/providers/Microsoft.Storage/storageAccounts/nmexpporigdsdh79sta"
		},
		"tr_connection_catalog_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/a6c9f13d-be73-4227-b485-c7a16289be08/resourceGroups/nmex-pp-origenesmx-dh-usea-rgp/providers/Microsoft.Storage/storageAccounts/nmexpporigdsdh79sta"
		},
		"tr_dispersiones_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/a6c9f13d-be73-4227-b485-c7a16289be08/resourceGroups/nmex-pp-origenesmx-dh-usea-rgp/providers/Microsoft.Storage/storageAccounts/nmexpporigdsdh79sta"
		},
		"tr_ecomm_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/a6c9f13d-be73-4227-b485-c7a16289be08/resourceGroups/nmex-pp-origenesmx-dh-usea-rgp/providers/Microsoft.Storage/storageAccounts/nmexpporigdsdh79sta"
		},
		"tr_kf_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/a6c9f13d-be73-4227-b485-c7a16289be08/resourceGroups/nmex-pp-origenesmx-dh-usea-rgp/providers/Microsoft.Storage/storageAccounts/nmexpporigdsdh79sta"
		},
		"tr_mash_cat_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/a6c9f13d-be73-4227-b485-c7a16289be08/resourceGroups/nmex-pp-origenesmx-dh-usea-rgp/providers/Microsoft.Storage/storageAccounts/nmexpporigdsdh79sta"
		},
		"tr_mash_marca_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/a6c9f13d-be73-4227-b485-c7a16289be08/resourceGroups/nmex-pp-origenesmx-dh-usea-rgp/providers/Microsoft.Storage/storageAccounts/nmexpporigdsdh79sta"
		},
		"tr_palantir_SellIn_properties_pl_datasets_parameters_Area": {
			"type": "string",
			"defaultValue": "SellIn"
		},
		"tr_palantir_SellOut_properties_pl_datasets_parameters_Area": {
			"type": "string",
			"defaultValue": "SellOut"
		},
		"tr_palantir_Sindicadas_properties_pl_datasets_parameters_Area": {
			"type": "string",
			"defaultValue": "Sindicadas"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_load_tablas_notebook_alice')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Switch Table Load",
						"type": "Switch",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"on": {
								"value": "@pipeline().parameters.parTableName",
								"type": "Expression"
							},
							"cases": [
								{
									"value": "lx03",
									"activities": [
										{
											"name": "Load LX03",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "pl_common_tabla_lx03",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"parFechaAtual_Carga": {
														"value": "@pipeline().parameters.parFechaAtual_Carga",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "lt23",
									"activities": [
										{
											"name": "Load LT23",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "pl_common_tabla_lt23",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"parFechaAtual_Carga": {
														"value": "@pipeline().parameters.parFechaAtual_Carga",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "otr",
									"activities": [
										{
											"name": "Load OTR",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "pl_common_tabla_otr",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"parFechaAtual_Carga": {
														"value": "@pipeline().parameters.parFechaAtual_Carga",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "contabilizado",
									"activities": [
										{
											"name": "Load OTR Contabilizado",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "pl_common_tabla_otr_contabilizado",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"parFechaAtual_Carga": {
														"value": "@pipeline().parameters.parFechaAtual_Carga",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "mb5t",
									"activities": [
										{
											"name": "Load MB5T",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "pl_common_tabla_mb5t",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"parFechaAtual_Carga": {
														"value": "@pipeline().parameters.parFechaAtual_Carga",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "me2n",
									"activities": [
										{
											"name": "Load ME2N",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "pl_common_tabla_me2n",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"parFechaAtual_Carga": {
														"value": "@pipeline().parameters.parFechaAtual_Carga",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "vl06f_nac",
									"activities": [
										{
											"name": "Load VL06F_NAC",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "pl_common_tabla_vl06f_nac",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"parFechaAtual_Carga": {
														"value": "@pipeline().parameters.parFechaAtual_Carga",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "vl06f_con",
									"activities": [
										{
											"name": "Load VL06F_CON",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "pl_common_tabla_vl06f_con",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"parFechaAtual_Carga": {
														"value": "@pipeline().parameters.parFechaAtual_Carga",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "atp",
									"activities": [
										{
											"name": "Load ATP",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "pl_common_tabla_atp",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"parFechaAtual_Carga": {
														"value": "@pipeline().parameters.parFechaAtual_Carga",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "trm_log",
									"activities": [
										{
											"name": "Load TRM_LOG",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "pl_common_tabla_trm_log",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"parFechaAtual_Carga": {
														"value": "@pipeline().parameters.parFechaAtual_Carga",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "me80fn",
									"activities": [
										{
											"name": "Load ME80FN",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "pl_common_tabla_me80fn",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"parFechaAtual_Carga": {
														"value": "@pipeline().parameters.parFechaAtual_Carga",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "ageing",
									"activities": [
										{
											"name": "Load AGEING",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "pl_common_tabla_ageing",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"parFechaAtual_Carga": {
														"value": "@pipeline().parameters.parFechaAtual_Carga",
														"type": "Expression"
													}
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"parFechaAtual_Carga": {
						"type": "string"
					},
					"parTableName": {
						"type": "string"
					}
				},
				"variables": {
					"varPathNotebook": {
						"type": "String"
					}
				},
				"folder": {
					"name": "amsmx_supply_alice"
				},
				"annotations": [],
				"lastPublishTime": "2023-08-07T23:28:30Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_mayoreodigital')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_ore",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": false,
									"deleteFilesAfterCompletion": false,
									"disableChunking": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_ore",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_ore",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "HugogallardoTestingtbMayoreoDigitalLiquidaciones",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Copy_ore",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/hugo.gallardo@mx.nestle.com/DatabricksMX/sl_mayoreodigital/execution/hugogallardo.MayoreoDigital.26072022"
						},
						"linkedServiceName": {
							"referenceName": "lk_nmex_dv_origenesmx_id_usw2_dbr",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "amsmx_mayoreodigital"
				},
				"annotations": [],
				"lastPublishTime": "2023-08-07T23:28:24Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_proceso_liquidaciones')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Upload MayoreoDigital Liquidaciones",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"disableChunking": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_ore",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_ore",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "HugogallardoTestingtbMayoreoDigitalLiquidaciones",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Upload MayoreoDigital Liquidaciones",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/hugo.gallardo@mx.nestle.com/DatabricksMX/sl_mayoreodigital/execution/hugogallardo.MayoreoDigital.26072022"
						},
						"linkedServiceName": {
							"referenceName": "lk_nmex_dv_origenesmx_id_usw2_dbr",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "amsmx_mayoreodigital"
				},
				"annotations": [],
				"lastPublishTime": "2023-08-07T23:28:26Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_proceso_productos')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Cat Productos",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"disableChunking": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataSetProductos",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationProductos",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "tb_Productos_Load_Notebook",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Copy Cat Productos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/hugo.gallardo@mx.nestle.com/DatabricksMX/sl_mayoreodigital/execution/hugogallardo.MayoreoDigital.Productos.03082022"
						},
						"linkedServiceName": {
							"referenceName": "lk_nmex_dv_origenesmx_id_usw2_dbr",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "amsmx_mayoreodigital"
				},
				"annotations": [],
				"lastPublishTime": "2023-08-07T23:28:24Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_sales_refresh_power_bi')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get ADF_parameters_sharepoint",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_adls_datascience_csv",
								"type": "DatasetReference",
								"parameters": {
									"par_directory": "datastore/sales/adf_parameters/",
									"par_filename": "ADF_parameters_sharepoint.csv",
									"par_delimiter": ",",
									"par_encoding": "UTF-8",
									"par_header": true
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach look up value",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get ADF_parameters_sharepoint",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get ADF_parameters_sharepoint').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(item().blob_filename,pipeline().parameters.par_blob_filename)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Execute Pipeline Power BI refresh",
												"type": "ExecutePipeline",
												"dependsOn": [
													{
														"activity": "Set variable workspace_id",
														"dependencyConditions": [
															"Succeeded"
														]
													},
													{
														"activity": "Set variable dataset_id",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "pl_common_generic_refresh_power_bi_dataset",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"par_id_workspace": {
															"value": "@variables('var_workspace_id')",
															"type": "Expression"
														},
														"par_id_dataset": {
															"value": "@variables('var_dataset_id')",
															"type": "Expression"
														}
													}
												}
											},
											{
												"name": "Set variable workspace_id",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "var_workspace_id",
													"value": {
														"value": "@string(item().workspace_id)",
														"type": "Expression"
													}
												}
											},
											{
												"name": "Set variable dataset_id",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "var_dataset_id",
													"value": {
														"value": "@string(item().dataset_id)",
														"type": "Expression"
													}
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"par_blob_filename": {
						"type": "string"
					},
					"par_blob_path": {
						"type": "string"
					}
				},
				"variables": {
					"var_workspace_id": {
						"type": "String"
					},
					"var_dataset_id": {
						"type": "String"
					}
				},
				"folder": {
					"name": "amsmx_sales"
				},
				"annotations": [],
				"lastPublishTime": "2023-08-07T23:28:26Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_mx_npp_biblia_weekly')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Sell_Out_Biblia_NPP",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2023-10-31T17:18:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								50
							],
							"hours": [
								12
							],
							"weekDays": [
								"Thursday",
								"Wednesday"
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_mx_npp_sell_out_weekly')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Update_Sell_Out_NPP",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2023-09-11T04:46:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								7
							],
							"weekDays": [
								"Thursday",
								"Wednesday"
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_nixtla_model_execution_main')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_nixtla_model_execution",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/datascience/blobs/dev/sales/automatic_execution/success.csv",
					"blobPathEndsWith": ".csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('tg_nixtla_model_execution_main_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_ai_cloud')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_sales_ai_cloud",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2023-01-31T14:29:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								1
							],
							"hours": [
								21
							],
							"weekDays": [
								"Monday"
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_catalogo_geografico')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Trigger que se activa cuando se sube el catalogo geografico",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_sales_catalogo_geografico",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/datascience/blobs/datastore/sales/catalogos/",
					"blobPathEndsWith": "Cat_Geo.csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('tr_catalogo_geografico_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_connection_catalog')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Trigger que ejecuta cada que el catalogo de conexiones entre SO, SI y exhibiciones se actualiza",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_sales_catalog_connection",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/datascience/blobs/datastore/sales/walmart/catalogos",
					"blobPathEndsWith": "catalogo_final_walmart.xlsx",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('tr_connection_catalog_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_dispersiones')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Trigger que desencadena cuando se agrega el csv de la base fria",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_sales_dispersiones",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/datascience/blobs/datastore/sales/dispersiones/",
					"blobPathEndsWith": "BF.csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('tr_dispersiones_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_ecomm')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_sales_ecomm",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/datascience/blobs/datastore/sales/walmart/e-commerce/",
					"blobPathEndsWith": "BASE_MWB_2021vs2022.csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('tr_ecomm_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_kf')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_sales_kf",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/datascience/blobs/datastore/sales/sabanas/kf",
					"blobPathEndsWith": "kf.csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('tr_kf_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_marvin_palantir')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Trigger que copia la delta del output de Marvin al container de Palantir",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_marvin_copy",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2023-04-05T15:25:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								17
							],
							"weekDays": [
								"Monday"
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_mash_cat')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Trigger que desencadena cada que se actualiza el csv con la info de mash a categoria",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_sales_mash",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/datascience/blobs/datastore/sales/mash/",
					"blobPathEndsWith": "data_categoria.csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('tr_mash_cat_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_mash_marca')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Trigger que desencadena cada que se actualiza el csv con la info de mash a marca",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_sales_mash",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/datascience/blobs/datastore/sales/mash/",
					"blobPathEndsWith": "data_marcas.csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('tr_mash_marca_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_palantir_SellIn')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_datasets",
							"type": "PipelineReference"
						},
						"parameters": {
							"Area": "[parameters('tr_palantir_SellIn_properties_pl_datasets_parameters_Area')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2023-04-21T19:01:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								9
							],
							"weekDays": [
								"Monday"
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_palantir_SellOut')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_datasets",
							"type": "PipelineReference"
						},
						"parameters": {
							"Area": "[parameters('tr_palantir_SellOut_properties_pl_datasets_parameters_Area')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2023-04-21T19:02:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								9
							],
							"weekDays": [
								"Monday"
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_palantir_Sindicadas')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_datasets",
							"type": "PipelineReference"
						},
						"parameters": {
							"Area": "[parameters('tr_palantir_Sindicadas_properties_pl_datasets_parameters_Area')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2023-04-21T19:03:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								9
							],
							"weekDays": [
								"Monday"
							]
						}
					}
				}
			},
			"dependsOn": []
		}
	]
}