nmex-dv-origmx-dh-usw2-adf/linkedTemplates/ArmTemplate_9.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "nmex-dv-origmx-dh-usw2-adf"
		},
		"tg_sales_powerbi_refresh_properties_pl_sales_refresh_power_bi_parameters_par_blob_filename": {
			"type": "string",
			"defaultValue": "@triggerBody().fileName"
		},
		"tg_sales_powerbi_refresh_properties_pl_sales_refresh_power_bi_parameters_par_blob_path": {
			"type": "string",
			"defaultValue": "@triggerBody().folderPath"
		},
		"tg_sales_powerbi_refresh_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/a6c9f13d-be73-4227-b485-c7a16289be08/resourceGroups/nmex-pp-origenesmx-dh-usea-rgp/providers/Microsoft.Storage/storageAccounts/nmexpporigdsdh79sta"
		},
		"tg_tb_mx_sc_alice_api_historical_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_search_type": {
			"type": "string",
			"defaultValue": "FIN_DESCARGA"
		},
		"tg_tb_mx_sc_alice_api_historical_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_url": {
			"type": "string",
			"defaultValue": "https://www.rcontrol.com.mx/rcSuite/GetUserToken?arg00=Origenes02&arg01=Temporal1"
		},
		"tg_tb_mx_sc_alice_api_historical_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_folder": {
			"type": "string",
			"defaultValue": "/inbound/ext_api_files/"
		},
		"tg_tb_mx_sc_alice_api_historical_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_url_base": {
			"type": "string",
			"defaultValue": "https://www.rcontrol.com.mx/japi/"
		},
		"tg_tb_mx_sc_alice_api_historical_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_cont": {
			"type": "string",
			"defaultValue": "dev"
		},
		"tg_tb_mx_sc_alice_api_historical_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_status": {
			"type": "string",
			"defaultValue": "SI9"
		},
		"tg_tb_mx_sc_alice_api_historical_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_function": {
			"type": "string",
			"defaultValue": "get_shipment_info_inb"
		},
		"tg_tb_mx_sc_alice_api_historical_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_tabla": {
			"type": "string",
			"defaultValue": "INBOUND_HISTORICO"
		},
		"tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_search_type": {
			"type": "string",
			"defaultValue": "DESPACHO_REAL"
		},
		"tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_url": {
			"type": "string",
			"defaultValue": "https://www.rcontrol.com.mx/rcSuite/GetUserToken?arg00=Origenes02&arg01=Temporal1"
		},
		"tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_folder": {
			"type": "string",
			"defaultValue": "/inbound/ext_api_files/"
		},
		"tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_url_base": {
			"type": "string",
			"defaultValue": "https://www.rcontrol.com.mx/japi/"
		},
		"tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_cont": {
			"type": "string",
			"defaultValue": "dev"
		},
		"tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_function": {
			"type": "string",
			"defaultValue": "get_shipment_info_outb"
		},
		"tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_tabla": {
			"type": "string",
			"defaultValue": "OUTBOUND_HISTORICO"
		},
		"tg_alice_tb_mx_sc_ageing_properties_pl_master_extract_tables_alice_parameters_m_parContainer": {
			"type": "string",
			"defaultValue": "dev"
		},
		"tg_alice_tb_mx_sc_ageing_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle": {
			"type": "string",
			"defaultValue": "ageing"
		},
		"tg_alice_tb_mx_sc_ageing_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_ageing_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_ageing_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy": {
			"type": "string",
			"defaultValue": "AGEING*"
		},
		"tg_alice_tb_mx_sc_atp_properties_pl_master_extract_tables_alice_parameters_m_parContainer": {
			"type": "string",
			"defaultValue": "dev"
		},
		"tg_alice_tb_mx_sc_atp_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle": {
			"type": "string",
			"defaultValue": "atp"
		},
		"tg_alice_tb_mx_sc_atp_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination": {
			"type": "string",
			"defaultValue": "inbound/fact/mail/atp/atp_files/"
		},
		"tg_alice_tb_mx_sc_atp_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy": {
			"type": "string",
			"defaultValue": "inbound/fact/mail/atp/atp_files/"
		},
		"tg_alice_tb_mx_sc_atp_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy": {
			"type": "string",
			"defaultValue": "GATP*"
		},
		"tg_alice_tb_mx_sc_lt23_properties_pl_master_extract_tables_alice_parameters_m_parContainer": {
			"type": "string",
			"defaultValue": "dev"
		},
		"tg_alice_tb_mx_sc_lt23_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle": {
			"type": "string",
			"defaultValue": "lt23"
		},
		"tg_alice_tb_mx_sc_lt23_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_lt23_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_lt23_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy": {
			"type": "string",
			"defaultValue": "LT23*"
		},
		"tg_alice_tb_mx_sc_lx03_properties_pl_master_extract_tables_alice_parameters_m_parContainer": {
			"type": "string",
			"defaultValue": "dev"
		},
		"tg_alice_tb_mx_sc_lx03_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle": {
			"type": "string",
			"defaultValue": "lx03"
		},
		"tg_alice_tb_mx_sc_lx03_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_lx03_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_lx03_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy": {
			"type": "string",
			"defaultValue": "LX03*"
		},
		"tg_alice_tb_mx_sc_mb5t_properties_pl_master_extract_tables_alice_parameters_m_parContainer": {
			"type": "string",
			"defaultValue": "dev"
		},
		"tg_alice_tb_mx_sc_mb5t_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle": {
			"type": "string",
			"defaultValue": "mb5t"
		},
		"tg_alice_tb_mx_sc_mb5t_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_mb5t_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_mb5t_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy": {
			"type": "string",
			"defaultValue": "MB5T*"
		},
		"tg_alice_tb_mx_sc_me2n_properties_pl_master_extract_tables_alice_parameters_m_parContainer": {
			"type": "string",
			"defaultValue": "dev"
		},
		"tg_alice_tb_mx_sc_me2n_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle": {
			"type": "string",
			"defaultValue": "me2n"
		},
		"tg_alice_tb_mx_sc_me2n_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_me2n_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_me2n_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy": {
			"type": "string",
			"defaultValue": "ME2N*"
		},
		"tg_alice_tb_mx_sc_me80fn_properties_pl_master_extract_tables_alice_parameters_m_parContainer": {
			"type": "string",
			"defaultValue": "dev"
		},
		"tg_alice_tb_mx_sc_me80fn_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle": {
			"type": "string",
			"defaultValue": "me80fn"
		},
		"tg_alice_tb_mx_sc_me80fn_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_me80fn_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_me80fn_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy": {
			"type": "string",
			"defaultValue": "ME80FN*"
		},
		"tg_alice_tb_mx_sc_otr_properties_pl_master_extract_tables_alice_parameters_m_parContainer": {
			"type": "string",
			"defaultValue": "dev"
		},
		"tg_alice_tb_mx_sc_otr_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle": {
			"type": "string",
			"defaultValue": "otr"
		},
		"tg_alice_tb_mx_sc_otr_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_otr_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_otr_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy": {
			"type": "string",
			"defaultValue": "OTR_20*"
		},
		"tg_alice_tb_mx_sc_otr_contabilizado_properties_pl_master_extract_tables_alice_parameters_m_parContainer": {
			"type": "string",
			"defaultValue": "dev"
		},
		"tg_alice_tb_mx_sc_otr_contabilizado_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle": {
			"type": "string",
			"defaultValue": "contabilizado"
		},
		"tg_alice_tb_mx_sc_otr_contabilizado_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_otr_contabilizado_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_otr_contabilizado_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy": {
			"type": "string",
			"defaultValue": "OTR_Contabilizado*"
		},
		"tg_alice_tb_mx_sc_trm_log_properties_pl_master_extract_tables_alice_parameters_m_parContainer": {
			"type": "string",
			"defaultValue": "dev"
		},
		"tg_alice_tb_mx_sc_trm_log_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle": {
			"type": "string",
			"defaultValue": "trm_log"
		},
		"tg_alice_tb_mx_sc_trm_log_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_trm_log_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_trm_log_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy": {
			"type": "string",
			"defaultValue": "TRM LOG*"
		},
		"tg_alice_tb_mx_sc_vl06f_con_properties_pl_master_extract_tables_alice_parameters_m_parContainer": {
			"type": "string",
			"defaultValue": "dev"
		},
		"tg_alice_tb_mx_sc_vl06f_con_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle": {
			"type": "string",
			"defaultValue": "vl06f_con"
		},
		"tg_alice_tb_mx_sc_vl06f_con_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_vl06f_con_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_vl06f_con_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy": {
			"type": "string",
			"defaultValue": "VL06F_CON*"
		},
		"tg_alice_tb_mx_sc_vl06f_nac_properties_pl_master_extract_tables_alice_parameters_m_parContainer": {
			"type": "string",
			"defaultValue": "dev"
		},
		"tg_alice_tb_mx_sc_vl06f_nac_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle": {
			"type": "string",
			"defaultValue": "vl06f_nac"
		},
		"tg_alice_tb_mx_sc_vl06f_nac_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_vl06f_nac_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_vl06f_nac_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy": {
			"type": "string",
			"defaultValue": "VL06F_NAC*"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/tg_sales_powerbi_refresh')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_sales_refresh_power_bi",
							"type": "PipelineReference"
						},
						"parameters": {
							"par_blob_filename": "[parameters('tg_sales_powerbi_refresh_properties_pl_sales_refresh_power_bi_parameters_par_blob_filename')]",
							"par_blob_path": "[parameters('tg_sales_powerbi_refresh_properties_pl_sales_refresh_power_bi_parameters_par_blob_path')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/datascience/blobs/datastore/sales/powerbi/",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('tg_sales_powerbi_refresh_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_tb_mx_sc_alice_api_historical_inbound')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_extract_api_tablas_inb_outb",
							"type": "PipelineReference"
						},
						"parameters": {
							"par_search_type": "[parameters('tg_tb_mx_sc_alice_api_historical_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_search_type')]",
							"par_url": "[parameters('tg_tb_mx_sc_alice_api_historical_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_url')]",
							"par_folder": "[parameters('tg_tb_mx_sc_alice_api_historical_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_folder')]",
							"par_url_base": "[parameters('tg_tb_mx_sc_alice_api_historical_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_url_base')]",
							"par_cont": "[parameters('tg_tb_mx_sc_alice_api_historical_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_cont')]",
							"par_status": "[parameters('tg_tb_mx_sc_alice_api_historical_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_status')]",
							"par_function": "[parameters('tg_tb_mx_sc_alice_api_historical_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_function')]",
							"par_tabla": "[parameters('tg_tb_mx_sc_alice_api_historical_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_tabla')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-04-10T20:56:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								1
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_tb_mx_sc_alice_api_historical_outbound')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_extract_api_tablas_inb_outb",
							"type": "PipelineReference"
						},
						"parameters": {
							"par_search_type": "[parameters('tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_search_type')]",
							"par_url": "[parameters('tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_url')]",
							"par_folder": "[parameters('tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_folder')]",
							"par_url_base": "[parameters('tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_url_base')]",
							"par_cont": "[parameters('tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_cont')]",
							"par_function": "[parameters('tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_function')]",
							"par_tabla": "[parameters('tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_tabla')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-04-10T20:53:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								1
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_afs_npp')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_afs_npp",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-07-02T13:51:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								21
							],
							"hours": [
								17
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_drivin_daily_api')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_daily_DRIVIN",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-03-14T14:12:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								23
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_load_sales')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get ADF DB notebooks parameters",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_adls_datascience_csv",
								"type": "DatasetReference",
								"parameters": {
									"par_directory": "datastore/sales/adf_parameters/",
									"par_filename": "ADF_parameters_db_notebooks.csv",
									"par_delimiter": ",",
									"par_encoding": "UTF-8",
									"par_header": true
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach ADF DB notebooks parameters",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get ADF DB notebooks parameters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get ADF DB notebooks parameters').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "If Condition ADF DB notebooks parameters",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(item().blob_filename,pipeline().parameters.par_blob_filename)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "pl_load_sales",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "pl_common_generic_databricks_notebooks_solution",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"par_db_folder_path": {
															"value": "@string(item().db_folder_path)",
															"type": "Expression"
														},
														"par_db_sol_path": {
															"value": "@string(item().db_sol_path)",
															"type": "Expression"
														},
														"par_solution": {
															"value": "@string(item().solution)",
															"type": "Expression"
														},
														"par_id": {
															"value": "@string(item().id)",
															"type": "Expression"
														},
														"par_parquet": {
															"value": "@string(item().parquet)",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_blob_path": {
						"type": "string"
					},
					"par_blob_filename": {
						"type": "string"
					}
				},
				"variables": {
					"var_db_folder_path": {
						"type": "String"
					},
					"var_db_sol_path": {
						"type": "String"
					},
					"var_solution": {
						"type": "String"
					},
					"var_id": {
						"type": "String"
					},
					"var_test": {
						"type": "String"
					}
				},
				"folder": {
					"name": "amsmx_sales"
				},
				"annotations": [],
				"lastPublishTime": "2023-06-12T19:45:48Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_master_copy_tipification_to_lake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "API Copy Sharepoint to Lake",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pl_common_verify_file_sharepoint",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_common_shp_copy-multiplefilestodatalakehourfilter",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"parAdlsDestinationFolder": "inbound/credit_notes/files_tipification",
								"parFileName": "Tipification",
								"parShpSiteUrl": "https://nestle.sharepoint.com/teams/nmex-tipification-trabajo",
								"parShpRelativeFolderPath": "Documentos Compartilhados",
								"parModifiedLastNHours": "200",
								"parClientID": "https://nmexdvorigmxdhusw2key.vault.azure.net/secrets/shp-clientid-nmex-trabajo-tipification/?api-version=7.0",
								"parClientSecret": "https://nmexdvorigmxdhusw2key.vault.azure.net/secrets/shp-clientsecret-nmex-trabajo-tipification/?api-version=7.0",
								"par_UtcNowVar": {
									"value": "@variables('var_UtcNow')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "utcNowFolder",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "var_UtcNow",
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "pl_common_verify_file_sharepoint",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "utcNowFolder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_common_verify_file_sharepoint",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pl_common_load_extract_tipification",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "API Copy Sharepoint to Lake",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_common_load_extract_tipification",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pl_common_extract_log_register",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pl_common_load_extract_tipification",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_common_extract_log_register",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pl_common_extract_log_register_failure",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pl_common_verify_file_sharepoint",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_common_extract_log_register",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pl_common_extract_log_register_failure_01",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "API Copy Sharepoint to Lake",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_common_extract_log_register",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"var_UtcNow": {
						"type": "String"
					},
					"var_FileTipificationNameOut": {
						"type": "String"
					}
				},
				"folder": {
					"name": "amsmx_finance_creditnotes"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-16T21:13:47Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_alice_tb_mx_sc_ageing')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_master_extract_tables_alice",
							"type": "PipelineReference"
						},
						"parameters": {
							"m_parContainer": "[parameters('tg_alice_tb_mx_sc_ageing_properties_pl_master_extract_tables_alice_parameters_m_parContainer')]",
							"m_parFileNameTitle": "[parameters('tg_alice_tb_mx_sc_ageing_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle')]",
							"m_parPathDestination": "[parameters('tg_alice_tb_mx_sc_ageing_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination')]",
							"m_parPathCopy": "[parameters('tg_alice_tb_mx_sc_ageing_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy')]",
							"m_parFileNameCopy": "[parameters('tg_alice_tb_mx_sc_ageing_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-04-20T07:15:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								15
							],
							"hours": [
								7
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_alice_tb_mx_sc_atp')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_master_extract_tables_alice",
							"type": "PipelineReference"
						},
						"parameters": {
							"m_parContainer": "[parameters('tg_alice_tb_mx_sc_atp_properties_pl_master_extract_tables_alice_parameters_m_parContainer')]",
							"m_parFileNameTitle": "[parameters('tg_alice_tb_mx_sc_atp_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle')]",
							"m_parPathDestination": "[parameters('tg_alice_tb_mx_sc_atp_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination')]",
							"m_parPathCopy": "[parameters('tg_alice_tb_mx_sc_atp_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy')]",
							"m_parFileNameCopy": "[parameters('tg_alice_tb_mx_sc_atp_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-04-21T07:15:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								15
							],
							"hours": [
								7,
								15,
								23
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_alice_tb_mx_sc_catalogos')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_master_extract_catalogs",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-04-20T07:15:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								15
							],
							"hours": [
								7,
								12,
								18
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_alice_tb_mx_sc_lt23')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Calendarizacion de la tabla lt23 cada hora",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_master_extract_tables_alice",
							"type": "PipelineReference"
						},
						"parameters": {
							"m_parContainer": "[parameters('tg_alice_tb_mx_sc_lt23_properties_pl_master_extract_tables_alice_parameters_m_parContainer')]",
							"m_parFileNameTitle": "[parameters('tg_alice_tb_mx_sc_lt23_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle')]",
							"m_parPathDestination": "[parameters('tg_alice_tb_mx_sc_lt23_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination')]",
							"m_parPathCopy": "[parameters('tg_alice_tb_mx_sc_lt23_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy')]",
							"m_parFileNameCopy": "[parameters('tg_alice_tb_mx_sc_lt23_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-04-18T18:35:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								2,
								3,
								4,
								5,
								6,
								7,
								8,
								9,
								10,
								11,
								12,
								13,
								14,
								15,
								16,
								17,
								18,
								19,
								20,
								21,
								22,
								23,
								0
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_alice_tb_mx_sc_lx03')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_master_extract_tables_alice",
							"type": "PipelineReference"
						},
						"parameters": {
							"m_parContainer": "[parameters('tg_alice_tb_mx_sc_lx03_properties_pl_master_extract_tables_alice_parameters_m_parContainer')]",
							"m_parFileNameTitle": "[parameters('tg_alice_tb_mx_sc_lx03_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle')]",
							"m_parPathDestination": "[parameters('tg_alice_tb_mx_sc_lx03_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination')]",
							"m_parPathCopy": "[parameters('tg_alice_tb_mx_sc_lx03_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy')]",
							"m_parFileNameCopy": "[parameters('tg_alice_tb_mx_sc_lx03_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-04-20T07:15:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								15
							],
							"hours": [
								7
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_alice_tb_mx_sc_mb5t')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_master_extract_tables_alice",
							"type": "PipelineReference"
						},
						"parameters": {
							"m_parContainer": "[parameters('tg_alice_tb_mx_sc_mb5t_properties_pl_master_extract_tables_alice_parameters_m_parContainer')]",
							"m_parFileNameTitle": "[parameters('tg_alice_tb_mx_sc_mb5t_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle')]",
							"m_parPathDestination": "[parameters('tg_alice_tb_mx_sc_mb5t_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination')]",
							"m_parPathCopy": "[parameters('tg_alice_tb_mx_sc_mb5t_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy')]",
							"m_parFileNameCopy": "[parameters('tg_alice_tb_mx_sc_mb5t_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-04-20T07:15:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								8,
								9,
								10,
								11,
								12,
								13,
								14,
								15,
								16,
								17,
								18,
								19,
								20,
								21,
								22,
								23,
								7,
								6,
								5,
								4,
								3,
								2,
								0
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_alice_tb_mx_sc_me2n')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_master_extract_tables_alice",
							"type": "PipelineReference"
						},
						"parameters": {
							"m_parContainer": "[parameters('tg_alice_tb_mx_sc_me2n_properties_pl_master_extract_tables_alice_parameters_m_parContainer')]",
							"m_parFileNameTitle": "[parameters('tg_alice_tb_mx_sc_me2n_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle')]",
							"m_parPathDestination": "[parameters('tg_alice_tb_mx_sc_me2n_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination')]",
							"m_parPathCopy": "[parameters('tg_alice_tb_mx_sc_me2n_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy')]",
							"m_parFileNameCopy": "[parameters('tg_alice_tb_mx_sc_me2n_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-04-20T07:15:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								15
							],
							"hours": [
								7
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_alice_tb_mx_sc_me80fn')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_master_extract_tables_alice",
							"type": "PipelineReference"
						},
						"parameters": {
							"m_parContainer": "[parameters('tg_alice_tb_mx_sc_me80fn_properties_pl_master_extract_tables_alice_parameters_m_parContainer')]",
							"m_parFileNameTitle": "[parameters('tg_alice_tb_mx_sc_me80fn_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle')]",
							"m_parPathDestination": "[parameters('tg_alice_tb_mx_sc_me80fn_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination')]",
							"m_parPathCopy": "[parameters('tg_alice_tb_mx_sc_me80fn_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy')]",
							"m_parFileNameCopy": "[parameters('tg_alice_tb_mx_sc_me80fn_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-04-20T07:15:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								8,
								9,
								10,
								11,
								12,
								13,
								14,
								15,
								16,
								17,
								18,
								19,
								20,
								21,
								22,
								23,
								7,
								6,
								5,
								4,
								3,
								2,
								0
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_alice_tb_mx_sc_otr')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_master_extract_tables_alice",
							"type": "PipelineReference"
						},
						"parameters": {
							"m_parContainer": "[parameters('tg_alice_tb_mx_sc_otr_properties_pl_master_extract_tables_alice_parameters_m_parContainer')]",
							"m_parFileNameTitle": "[parameters('tg_alice_tb_mx_sc_otr_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle')]",
							"m_parPathDestination": "[parameters('tg_alice_tb_mx_sc_otr_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination')]",
							"m_parPathCopy": "[parameters('tg_alice_tb_mx_sc_otr_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy')]",
							"m_parFileNameCopy": "[parameters('tg_alice_tb_mx_sc_otr_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-04-20T07:15:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								8,
								9,
								10,
								11,
								12,
								13,
								14,
								15,
								16,
								17,
								18,
								19,
								20,
								21,
								22,
								23,
								7,
								6,
								5,
								4,
								3,
								2,
								0
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_alice_tb_mx_sc_otr_contabilizado')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_master_extract_tables_alice",
							"type": "PipelineReference"
						},
						"parameters": {
							"m_parContainer": "[parameters('tg_alice_tb_mx_sc_otr_contabilizado_properties_pl_master_extract_tables_alice_parameters_m_parContainer')]",
							"m_parFileNameTitle": "[parameters('tg_alice_tb_mx_sc_otr_contabilizado_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle')]",
							"m_parPathDestination": "[parameters('tg_alice_tb_mx_sc_otr_contabilizado_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination')]",
							"m_parPathCopy": "[parameters('tg_alice_tb_mx_sc_otr_contabilizado_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy')]",
							"m_parFileNameCopy": "[parameters('tg_alice_tb_mx_sc_otr_contabilizado_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-04-20T07:15:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								15
							],
							"hours": [
								7
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_alice_tb_mx_sc_trm_log')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_master_extract_tables_alice",
							"type": "PipelineReference"
						},
						"parameters": {
							"m_parContainer": "[parameters('tg_alice_tb_mx_sc_trm_log_properties_pl_master_extract_tables_alice_parameters_m_parContainer')]",
							"m_parFileNameTitle": "[parameters('tg_alice_tb_mx_sc_trm_log_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle')]",
							"m_parPathDestination": "[parameters('tg_alice_tb_mx_sc_trm_log_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination')]",
							"m_parPathCopy": "[parameters('tg_alice_tb_mx_sc_trm_log_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy')]",
							"m_parFileNameCopy": "[parameters('tg_alice_tb_mx_sc_trm_log_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-04-20T07:15:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								15
							],
							"hours": [
								7
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_alice_tb_mx_sc_vl06f_con')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_master_extract_tables_alice",
							"type": "PipelineReference"
						},
						"parameters": {
							"m_parContainer": "[parameters('tg_alice_tb_mx_sc_vl06f_con_properties_pl_master_extract_tables_alice_parameters_m_parContainer')]",
							"m_parFileNameTitle": "[parameters('tg_alice_tb_mx_sc_vl06f_con_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle')]",
							"m_parPathDestination": "[parameters('tg_alice_tb_mx_sc_vl06f_con_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination')]",
							"m_parPathCopy": "[parameters('tg_alice_tb_mx_sc_vl06f_con_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy')]",
							"m_parFileNameCopy": "[parameters('tg_alice_tb_mx_sc_vl06f_con_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-04-20T07:15:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								15
							],
							"hours": [
								7
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_alice_tb_mx_sc_vl06f_nac')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_master_extract_tables_alice",
							"type": "PipelineReference"
						},
						"parameters": {
							"m_parContainer": "[parameters('tg_alice_tb_mx_sc_vl06f_nac_properties_pl_master_extract_tables_alice_parameters_m_parContainer')]",
							"m_parFileNameTitle": "[parameters('tg_alice_tb_mx_sc_vl06f_nac_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle')]",
							"m_parPathDestination": "[parameters('tg_alice_tb_mx_sc_vl06f_nac_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination')]",
							"m_parPathCopy": "[parameters('tg_alice_tb_mx_sc_vl06f_nac_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy')]",
							"m_parFileNameCopy": "[parameters('tg_alice_tb_mx_sc_vl06f_nac_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-04-19T07:15:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								8,
								9,
								10,
								11,
								12,
								13,
								14,
								15,
								16,
								17,
								18,
								19,
								20,
								21,
								22,
								23,
								7,
								6,
								5,
								4,
								3,
								2,
								0
							]
						}
					}
				}
			},
			"dependsOn": []
		}
	]
}