nmex-dv-origmx-dh-usw2-adf/linkedTemplates/ArmTemplate_9.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "nmex-dv-origmx-dh-usw2-adf"
		},
		"tg_alice_copy_bl_to_bl_atp_files_properties_pl_copy_blob_to_blob_atp_files_parameters_par_Folder": {
			"type": "string",
			"defaultValue": "logica-app/atp"
		},
		"tg_alice_copy_bl_to_bl_atp_files_properties_pl_copy_blob_to_blob_atp_files_parameters_par_Archivo_Nombre": {
			"type": "string",
			"defaultValue": "GATP*"
		},
		"tg_alice_copy_bl_to_bl_atp_files_properties_pl_copy_blob_to_blob_atp_files_parameters_par_Destination_Folder": {
			"type": "string",
			"defaultValue": "inbound/fact/mail/atp/atp_files"
		},
		"tg_mx_sc_tb_mx_sc_alice_api_live_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_search_type": {
			"type": "string",
			"defaultValue": "FECHA_CREACION"
		},
		"tg_mx_sc_tb_mx_sc_alice_api_live_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_url": {
			"type": "string",
			"defaultValue": "https://www.rcontrol.com.mx/rcSuite/GetUserToken?arg00=Origenes02&arg01=Temporal1"
		},
		"tg_mx_sc_tb_mx_sc_alice_api_live_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_folder": {
			"type": "string",
			"defaultValue": "/inbound/ext_api_files/"
		},
		"tg_mx_sc_tb_mx_sc_alice_api_live_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_url_base": {
			"type": "string",
			"defaultValue": "https://www.rcontrol.com.mx/japi/"
		},
		"tg_mx_sc_tb_mx_sc_alice_api_live_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_cont": {
			"type": "string",
			"defaultValue": "dev"
		},
		"tg_mx_sc_tb_mx_sc_alice_api_live_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_status": {
			"type": "string",
			"defaultValue": "SI1, SI2,SI3,SI4,SI5,SI6,Si7,SI8"
		},
		"tg_mx_sc_tb_mx_sc_alice_api_live_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_function": {
			"type": "string",
			"defaultValue": "get_shipment_info_inb"
		},
		"tg_mx_sc_tb_mx_sc_alice_api_live_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_tabla": {
			"type": "string",
			"defaultValue": "INBOUND_LIVE"
		},
		"tg_mx_sc_tb_mx_sc_alice_api_live_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_search_type": {
			"type": "string",
			"defaultValue": "FECHA_EN_PLAN"
		},
		"tg_mx_sc_tb_mx_sc_alice_api_live_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_url": {
			"type": "string",
			"defaultValue": "https://www.rcontrol.com.mx/rcSuite/GetUserToken?arg00=Origenes02&arg01=Temporal1"
		},
		"tg_mx_sc_tb_mx_sc_alice_api_live_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_folder": {
			"type": "string",
			"defaultValue": "/inbound/ext_api_files/"
		},
		"tg_mx_sc_tb_mx_sc_alice_api_live_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_url_base": {
			"type": "string",
			"defaultValue": "https://www.rcontrol.com.mx/japi/"
		},
		"tg_mx_sc_tb_mx_sc_alice_api_live_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_cont": {
			"type": "string",
			"defaultValue": "dev"
		},
		"tg_mx_sc_tb_mx_sc_alice_api_live_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_status": {
			"type": "string",
			"defaultValue": "S01,S02,S03,S04,S05,S06"
		},
		"tg_mx_sc_tb_mx_sc_alice_api_live_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_function": {
			"type": "string",
			"defaultValue": "get_shipment_info_outb"
		},
		"tg_mx_sc_tb_mx_sc_alice_api_live_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_tabla": {
			"type": "string",
			"defaultValue": "OUTBOUND_LIVE"
		},
		"tg_sales_powerbi_refresh_properties_pl_sales_refresh_power_bi_parameters_par_blob_filename": {
			"type": "string",
			"defaultValue": "@triggerBody().fileName"
		},
		"tg_sales_powerbi_refresh_properties_pl_sales_refresh_power_bi_parameters_par_blob_path": {
			"type": "string",
			"defaultValue": "@triggerBody().folderPath"
		},
		"tg_sales_powerbi_refresh_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/a6c9f13d-be73-4227-b485-c7a16289be08/resourceGroups/nmex-pp-origenesmx-dh-usea-rgp/providers/Microsoft.Storage/storageAccounts/nmexpporigdsdh79sta"
		},
		"tg_tb_mx_sc_alice_api_historical_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_search_type": {
			"type": "string",
			"defaultValue": "FIN_DESCARGA"
		},
		"tg_tb_mx_sc_alice_api_historical_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_url": {
			"type": "string",
			"defaultValue": "https://www.rcontrol.com.mx/rcSuite/GetUserToken?arg00=Origenes02&arg01=Temporal1"
		},
		"tg_tb_mx_sc_alice_api_historical_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_folder": {
			"type": "string",
			"defaultValue": "/inbound/ext_api_files/"
		},
		"tg_tb_mx_sc_alice_api_historical_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_url_base": {
			"type": "string",
			"defaultValue": "https://www.rcontrol.com.mx/japi/"
		},
		"tg_tb_mx_sc_alice_api_historical_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_cont": {
			"type": "string",
			"defaultValue": "dev"
		},
		"tg_tb_mx_sc_alice_api_historical_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_status": {
			"type": "string",
			"defaultValue": "SI9"
		},
		"tg_tb_mx_sc_alice_api_historical_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_function": {
			"type": "string",
			"defaultValue": "get_shipment_info_inb"
		},
		"tg_tb_mx_sc_alice_api_historical_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_tabla": {
			"type": "string",
			"defaultValue": "INBOUND_HISTORICO"
		},
		"tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_search_type": {
			"type": "string",
			"defaultValue": "DESPACHO_REAL"
		},
		"tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_url": {
			"type": "string",
			"defaultValue": "https://www.rcontrol.com.mx/rcSuite/GetUserToken?arg00=Origenes02&arg01=Temporal1"
		},
		"tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_folder": {
			"type": "string",
			"defaultValue": "/inbound/ext_api_files/"
		},
		"tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_url_base": {
			"type": "string",
			"defaultValue": "https://www.rcontrol.com.mx/japi/"
		},
		"tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_cont": {
			"type": "string",
			"defaultValue": "dev"
		},
		"tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_function": {
			"type": "string",
			"defaultValue": "get_shipment_info_outb"
		},
		"tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_tabla": {
			"type": "string",
			"defaultValue": "OUTBOUND_HISTORICO"
		},
		"tg_alice_tb_mx_sc_ageing_properties_pl_master_extract_tables_alice_parameters_m_parContainer": {
			"type": "string",
			"defaultValue": "dev"
		},
		"tg_alice_tb_mx_sc_ageing_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle": {
			"type": "string",
			"defaultValue": "ageing"
		},
		"tg_alice_tb_mx_sc_ageing_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_ageing_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_ageing_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy": {
			"type": "string",
			"defaultValue": "AGEING*"
		},
		"tg_alice_tb_mx_sc_atp_properties_pl_master_extract_tables_alice_parameters_m_parContainer": {
			"type": "string",
			"defaultValue": "dev"
		},
		"tg_alice_tb_mx_sc_atp_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle": {
			"type": "string",
			"defaultValue": "atp"
		},
		"tg_alice_tb_mx_sc_atp_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination": {
			"type": "string",
			"defaultValue": "inbound/fact/mail/atp/atp_files/"
		},
		"tg_alice_tb_mx_sc_atp_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy": {
			"type": "string",
			"defaultValue": "inbound/fact/mail/atp/atp_files/"
		},
		"tg_alice_tb_mx_sc_atp_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy": {
			"type": "string",
			"defaultValue": "GATP*"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_extract_api_origenes_BKP_2023-04-20')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Switch Supplier",
						"type": "Switch",
						"dependsOn": [
							{
								"activity": "Set variable Fecha Hoy",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"on": {
								"value": "@if(\n    contains(pipeline().parameters.par_url,'driv'),\n    'DRIVIN',\n    if(contains(pipeline().parameters.par_url,'e-smap'),\n    'RIVERA',\n    if(contains(pipeline().parameters.par_url,'cevisur'),\n    'CEVISUR',\n    if(contains(pipeline().parameters.par_url,'187.141.10.78'),\n    'NIETO','Default'  \n    )\n    )\n    )\n)",
								"type": "Expression"
							},
							"cases": [
								{
									"value": "RIVERA",
									"activities": [
										{
											"name": "Set variable RIVERA Ventas",
											"type": "SetVariable",
											"dependsOn": [],
											"policy": {
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"variableName": "var_riv_ventas",
												"value": {
													"value": "@concat(pipeline().parameters.par_url,'SRM/creative/Procesos/ApiLayouts/Ventas.php?fecha=',pipeline().parameters.par_stardate,'&fechafin=',pipeline().parameters.par_enddate)",
													"type": "Expression"
												}
											}
										},
										{
											"name": "Copy RIVERA Ventas",
											"type": "Copy",
											"dependsOn": [
												{
													"activity": "Set variable RIVERA Ventas",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "RestSource",
													"httpRequestTimeout": "00:01:40",
													"requestInterval": "00.00:00:00.010",
													"requestMethod": "GET",
													"additionalHeaders": {
														"api-key": {
															"value": "@pipeline().parameters.par_header_key",
															"type": "Expression"
														}
													}
												},
												"sink": {
													"type": "JsonSink",
													"storeSettings": {
														"type": "AzureBlobFSWriteSettings"
													},
													"formatSettings": {
														"type": "JsonWriteSettings"
													}
												},
												"enableStaging": false
											},
											"inputs": [
												{
													"referenceName": "ar_rest_api_generic_auth",
													"type": "DatasetReference",
													"parameters": {
														"par_url_complete": {
															"value": "@variables('var_riv_ventas')",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "json_api_web",
													"type": "DatasetReference",
													"parameters": {
														"FileName": {
															"value": "@concat(pipeline().parameters.FileName,'_RIVERA_VENTAS_',variables('var_set_fecha_hoy'),'.json')",
															"type": "Expression"
														},
														"ContName": {
															"value": "@pipeline().parameters.par_cont",
															"type": "Expression"
														},
														"FoldPath": {
															"value": "@concat(pipeline().parameters.par_folder,'VENTAS')",
															"type": "Expression"
														}
													}
												}
											]
										},
										{
											"name": "Set variable RIVERA Inventarios",
											"type": "SetVariable",
											"dependsOn": [],
											"policy": {
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"variableName": "var_riv_inventario",
												"value": {
													"value": "@concat(pipeline().parameters.par_url,'SRM/creative/Procesos/ApiLayouts/Inventario.php?fecha=',pipeline().parameters.par_stardate,'&fechafin=',pipeline().parameters.par_enddate)",
													"type": "Expression"
												}
											}
										},
										{
											"name": "Copy RIVERA Inventario",
											"type": "Copy",
											"dependsOn": [
												{
													"activity": "Set variable RIVERA Inventarios",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "RestSource",
													"httpRequestTimeout": "00:01:40",
													"requestInterval": "00.00:00:00.010",
													"requestMethod": "GET",
													"additionalHeaders": {
														"api-key": {
															"value": "@pipeline().parameters.par_header_key",
															"type": "Expression"
														}
													}
												},
												"sink": {
													"type": "JsonSink",
													"storeSettings": {
														"type": "AzureBlobFSWriteSettings"
													},
													"formatSettings": {
														"type": "JsonWriteSettings"
													}
												},
												"enableStaging": false
											},
											"inputs": [
												{
													"referenceName": "ar_rest_api_generic_auth",
													"type": "DatasetReference",
													"parameters": {
														"par_url_complete": {
															"value": "@variables('var_riv_inventario')",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "json_api_web",
													"type": "DatasetReference",
													"parameters": {
														"FileName": {
															"value": "@concat(pipeline().parameters.FileName,'_RIVERA_INVENTARIO_',variables('var_set_fecha_hoy'),'.json')",
															"type": "Expression"
														},
														"ContName": {
															"value": "@pipeline().parameters.par_cont",
															"type": "Expression"
														},
														"FoldPath": {
															"value": "@concat(pipeline().parameters.par_folder,'INVENTARIO')",
															"type": "Expression"
														}
													}
												}
											]
										}
									]
								},
								{
									"value": "NIETO",
									"activities": [
										{
											"name": "Set variable NIETO Ventas",
											"type": "SetVariable",
											"dependsOn": [],
											"policy": {
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"variableName": "var_nie_ventas",
												"value": {
													"value": "@concat(pipeline().parameters.par_url,'?event=VENTAS&access_token=',pipeline().parameters.par_header_key)",
													"type": "Expression"
												}
											}
										},
										{
											"name": "Set variable NIETO Inventarios",
											"type": "SetVariable",
											"dependsOn": [],
											"policy": {
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"variableName": "var_nie_inventarios",
												"value": {
													"value": "@concat(pipeline().parameters.par_url,'?event=INVENTARIO&access_token=',pipeline().parameters.par_header_key)",
													"type": "Expression"
												}
											}
										},
										{
											"name": "Set variable NIETO Clientes",
											"type": "SetVariable",
											"dependsOn": [],
											"policy": {
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"variableName": "var_nie_clientes",
												"value": {
													"value": "@concat(pipeline().parameters.par_url,'?event=CLIENTES&access_token=',pipeline().parameters.par_header_key)",
													"type": "Expression"
												}
											}
										},
										{
											"name": "Set variable NIETO Productos",
											"type": "SetVariable",
											"dependsOn": [],
											"policy": {
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"variableName": "var_nie_productos",
												"value": {
													"value": "@concat(pipeline().parameters.par_url,'?event=PRODUCTOS&access_token=',pipeline().parameters.par_header_key)",
													"type": "Expression"
												}
											}
										},
										{
											"name": "Copy NIETO Ventas",
											"type": "Copy",
											"dependsOn": [
												{
													"activity": "Set variable NIETO Ventas",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "RestSource",
													"httpRequestTimeout": "00:01:40",
													"requestInterval": "00.00:00:00.010",
													"requestMethod": "GET"
												},
												"sink": {
													"type": "JsonSink",
													"storeSettings": {
														"type": "AzureBlobFSWriteSettings"
													},
													"formatSettings": {
														"type": "JsonWriteSettings"
													}
												},
												"enableStaging": false
											},
											"inputs": [
												{
													"referenceName": "ar_rest_api_generic_auth",
													"type": "DatasetReference",
													"parameters": {
														"par_url_complete": {
															"value": "@variables('var_nie_ventas')",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "json_api_web",
													"type": "DatasetReference",
													"parameters": {
														"FileName": {
															"value": "@concat(pipeline().parameters.FileName,'_NIETO_VENTAS_',variables('var_set_fecha_hoy'),'.json')",
															"type": "Expression"
														},
														"ContName": {
															"value": "@pipeline().parameters.par_cont",
															"type": "Expression"
														},
														"FoldPath": {
															"value": "@concat(pipeline().parameters.par_folder,'VENTAS')",
															"type": "Expression"
														}
													}
												}
											]
										},
										{
											"name": "Copy NIETO Clientes",
											"type": "Copy",
											"dependsOn": [
												{
													"activity": "Set variable NIETO Clientes",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "RestSource",
													"httpRequestTimeout": "00:01:40",
													"requestInterval": "00.00:00:00.010",
													"requestMethod": "GET"
												},
												"sink": {
													"type": "JsonSink",
													"storeSettings": {
														"type": "AzureBlobFSWriteSettings"
													},
													"formatSettings": {
														"type": "JsonWriteSettings"
													}
												},
												"enableStaging": false
											},
											"inputs": [
												{
													"referenceName": "ar_rest_api_generic_auth",
													"type": "DatasetReference",
													"parameters": {
														"par_url_complete": {
															"value": "@variables('var_nie_clientes')",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "json_api_web",
													"type": "DatasetReference",
													"parameters": {
														"FileName": {
															"value": "@concat(pipeline().parameters.FileName,'_NIETO_CLIENTES_',variables('var_set_fecha_hoy'),'.json')",
															"type": "Expression"
														},
														"ContName": {
															"value": "@pipeline().parameters.par_cont",
															"type": "Expression"
														},
														"FoldPath": {
															"value": "@concat(pipeline().parameters.par_folder,'CLIENTES')",
															"type": "Expression"
														}
													}
												}
											]
										},
										{
											"name": "Copy NIETO Productos",
											"type": "Copy",
											"dependsOn": [
												{
													"activity": "Set variable NIETO Productos",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "RestSource",
													"httpRequestTimeout": "00:01:40",
													"requestInterval": "00.00:00:00.010",
													"requestMethod": "GET"
												},
												"sink": {
													"type": "JsonSink",
													"storeSettings": {
														"type": "AzureBlobFSWriteSettings"
													},
													"formatSettings": {
														"type": "JsonWriteSettings"
													}
												},
												"enableStaging": false
											},
											"inputs": [
												{
													"referenceName": "ar_rest_api_generic_auth",
													"type": "DatasetReference",
													"parameters": {
														"par_url_complete": {
															"value": "@variables('var_nie_productos')",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "json_api_web",
													"type": "DatasetReference",
													"parameters": {
														"FileName": {
															"value": "@concat(pipeline().parameters.FileName,'_NIETO_PRODUCTOS_',variables('var_set_fecha_hoy'),'.json')",
															"type": "Expression"
														},
														"ContName": {
															"value": "@pipeline().parameters.par_cont",
															"type": "Expression"
														},
														"FoldPath": {
															"value": "@concat(pipeline().parameters.par_folder,'PRODUCTOS')",
															"type": "Expression"
														}
													}
												}
											]
										},
										{
											"name": "Copy NIETO Inventario",
											"type": "Copy",
											"dependsOn": [
												{
													"activity": "Set variable NIETO Inventarios",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "RestSource",
													"httpRequestTimeout": "00:01:40",
													"requestInterval": "00.00:00:00.010",
													"requestMethod": "GET"
												},
												"sink": {
													"type": "JsonSink",
													"storeSettings": {
														"type": "AzureBlobFSWriteSettings"
													},
													"formatSettings": {
														"type": "JsonWriteSettings"
													}
												},
												"enableStaging": false
											},
											"inputs": [
												{
													"referenceName": "ar_rest_api_generic_auth",
													"type": "DatasetReference",
													"parameters": {
														"par_url_complete": {
															"value": "@variables('var_nie_inventarios')",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "json_api_web",
													"type": "DatasetReference",
													"parameters": {
														"FileName": {
															"value": "@concat(pipeline().parameters.FileName,'_NIETO_INVENTARIO_',variables('var_set_fecha_hoy'),'.json')",
															"type": "Expression"
														},
														"ContName": {
															"value": "@pipeline().parameters.par_cont",
															"type": "Expression"
														},
														"FoldPath": {
															"value": "@concat(pipeline().parameters.par_folder,'INVENTARIO')",
															"type": "Expression"
														}
													}
												}
											]
										}
									]
								},
								{
									"value": "DRIVIN",
									"activities": [
										{
											"name": "Execute Pipeline Drivin",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "pl_extract_api_origenes_drivin",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"par_url": {
														"value": "@pipeline().parameters.par_url",
														"type": "Expression"
													},
													"par_stardate": {
														"value": "@pipeline().parameters.par_stardate",
														"type": "Expression"
													},
													"par_enddate": {
														"value": "@pipeline().parameters.par_enddate",
														"type": "Expression"
													},
													"par_header_content_type": {
														"value": "@pipeline().parameters.par_header_content_type",
														"type": "Expression"
													},
													"par_header_key": {
														"value": "@pipeline().parameters.par_header_key",
														"type": "Expression"
													},
													"FileName": {
														"value": "@pipeline().parameters.FileName",
														"type": "Expression"
													},
													"par_cont": {
														"value": "@pipeline().parameters.par_cont",
														"type": "Expression"
													},
													"par_folder": {
														"value": "@pipeline().parameters.par_folder",
														"type": "Expression"
													},
													"par_url_login": {
														"value": "@pipeline().parameters.par_url_login",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "CEVISUR",
									"activities": [
										{
											"name": "Set variable CEVISUR Token",
											"type": "SetVariable",
											"dependsOn": [
												{
													"activity": "CEVISUR Login",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"variableName": "var_cevi_login",
												"value": {
													"value": "@activity('CEVISUR Login').output.token",
													"type": "Expression"
												}
											}
										},
										{
											"name": "Set variable CEVISUR Ventas",
											"type": "SetVariable",
											"dependsOn": [
												{
													"activity": "Set variable CEVISUR Token",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"variableName": "var_cevi_ventas",
												"value": {
													"value": "@concat(pipeline().parameters.par_url,'nestle/api/pedidos/search?startDate=',pipeline().parameters.par_stardate,'&endDate=',pipeline().parameters.par_enddate)",
													"type": "Expression"
												}
											}
										},
										{
											"name": "Set variable CEVISUR Inventarios",
											"type": "SetVariable",
											"dependsOn": [
												{
													"activity": "Set variable CEVISUR Token",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"variableName": "var_cevi_inventario",
												"value": {
													"value": "@concat(pipeline().parameters.par_url,'nestle/api/inventario/existencias/actuales')",
													"type": "Expression"
												}
											}
										},
										{
											"name": "Set variable CEVISUR Clientes",
											"type": "SetVariable",
											"dependsOn": [
												{
													"activity": "Set variable CEVISUR Token",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"variableName": "var_cevi_clientes",
												"value": {
													"value": "@concat(pipeline().parameters.par_url,'nestle/api/clientes/search?startDate=',pipeline().parameters.par_stardate,'&endDate=',pipeline().parameters.par_enddate)",
													"type": "Expression"
												}
											}
										},
										{
											"name": "Set variable CEVISUR Productos",
											"type": "SetVariable",
											"dependsOn": [
												{
													"activity": "Set variable CEVISUR Token",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"variableName": "var_cevi_produtos",
												"value": {
													"value": "@concat(pipeline().parameters.par_url,'nestle/api/articulos')",
													"type": "Expression"
												}
											}
										},
										{
											"name": "CEVISUR Login",
											"type": "WebActivity",
											"dependsOn": [],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"url": {
													"value": "@pipeline().parameters.par_url_login",
													"type": "Expression"
												},
												"method": "POST",
												"headers": {
													"Content-type": {
														"value": "@pipeline().parameters.par_header_content_type",
														"type": "Expression"
													}
												},
												"body": {
													"username": "0PM067",
													"password": "5P%LZ19xeM%v"
												}
											}
										},
										{
											"name": "Copy CEVISUR Ventas",
											"type": "Copy",
											"dependsOn": [
												{
													"activity": "Set variable CEVISUR Ventas",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "RestSource",
													"httpRequestTimeout": "00:01:40",
													"requestInterval": "00.00:00:00.010",
													"requestMethod": "GET",
													"additionalHeaders": {
														"Content-type": {
															"value": "@pipeline().parameters.par_header_content_type",
															"type": "Expression"
														},
														"Authorization": {
															"value": "@concat('Bearer ',variables('var_cevi_login'))",
															"type": "Expression"
														}
													}
												},
												"sink": {
													"type": "JsonSink",
													"storeSettings": {
														"type": "AzureBlobFSWriteSettings"
													},
													"formatSettings": {
														"type": "JsonWriteSettings"
													}
												},
												"enableStaging": false
											},
											"inputs": [
												{
													"referenceName": "ar_rest_api_generic_auth",
													"type": "DatasetReference",
													"parameters": {
														"par_url_complete": {
															"value": "@variables('var_cevi_ventas')",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "json_api_web",
													"type": "DatasetReference",
													"parameters": {
														"FileName": {
															"value": "@concat(pipeline().parameters.FileName,'_CEVISUR_VENTAS_',variables('var_set_fecha_hoy'),'.json')",
															"type": "Expression"
														},
														"ContName": {
															"value": "@pipeline().parameters.par_cont",
															"type": "Expression"
														},
														"FoldPath": {
															"value": "@concat(pipeline().parameters.par_folder,'VENTAS')",
															"type": "Expression"
														}
													}
												}
											]
										},
										{
											"name": "Set variable CEVISUR Facturas",
											"type": "SetVariable",
											"dependsOn": [
												{
													"activity": "Set variable CEVISUR Token",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"variableName": "var_cevi_facturas",
												"value": {
													"value": "@concat(pipeline().parameters.par_url,'nestle/api/facturas/search?startDate=',pipeline().parameters.par_stardate,'&endDate=',pipeline().parameters.par_enddate)",
													"type": "Expression"
												}
											}
										},
										{
											"name": "Copy CEVISUR Clientes",
											"type": "Copy",
											"dependsOn": [
												{
													"activity": "Set variable CEVISUR Clientes",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "RestSource",
													"httpRequestTimeout": "00:01:40",
													"requestInterval": "00.00:00:00.010",
													"requestMethod": "GET",
													"additionalHeaders": {
														"Content-type": {
															"value": "@pipeline().parameters.par_header_content_type",
															"type": "Expression"
														},
														"Authorization": {
															"value": "@concat('Bearer ',variables('var_cevi_login'))",
															"type": "Expression"
														}
													}
												},
												"sink": {
													"type": "JsonSink",
													"storeSettings": {
														"type": "AzureBlobFSWriteSettings"
													},
													"formatSettings": {
														"type": "JsonWriteSettings"
													}
												},
												"enableStaging": false
											},
											"inputs": [
												{
													"referenceName": "ar_rest_api_generic_auth",
													"type": "DatasetReference",
													"parameters": {
														"par_url_complete": {
															"value": "@variables('var_cevi_clientes')",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "json_api_web",
													"type": "DatasetReference",
													"parameters": {
														"FileName": {
															"value": "@concat(pipeline().parameters.FileName,'_CEVISUR_CLIENTES_',variables('var_set_fecha_hoy'),'.json')",
															"type": "Expression"
														},
														"ContName": {
															"value": "@pipeline().parameters.par_cont",
															"type": "Expression"
														},
														"FoldPath": {
															"value": "@concat(pipeline().parameters.par_folder,'CLIENTES')",
															"type": "Expression"
														}
													}
												}
											]
										},
										{
											"name": "Copy CEVISUR Inventario",
											"type": "Copy",
											"dependsOn": [
												{
													"activity": "Set variable CEVISUR Inventarios",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "RestSource",
													"httpRequestTimeout": "00:01:40",
													"requestInterval": "00.00:00:00.010",
													"requestMethod": "GET",
													"additionalHeaders": {
														"Content-type": {
															"value": "@pipeline().parameters.par_header_content_type",
															"type": "Expression"
														},
														"Authorization": {
															"value": "@concat('Bearer ',variables('var_cevi_login'))",
															"type": "Expression"
														}
													}
												},
												"sink": {
													"type": "JsonSink",
													"storeSettings": {
														"type": "AzureBlobFSWriteSettings"
													},
													"formatSettings": {
														"type": "JsonWriteSettings"
													}
												},
												"enableStaging": false
											},
											"inputs": [
												{
													"referenceName": "ar_rest_api_generic_auth",
													"type": "DatasetReference",
													"parameters": {
														"par_url_complete": {
															"value": "@variables('var_cevi_inventario')",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "json_api_web",
													"type": "DatasetReference",
													"parameters": {
														"FileName": {
															"value": "@concat(pipeline().parameters.FileName,'_CEVISUR_INVENTARIO_',variables('var_set_fecha_hoy'),'.json')",
															"type": "Expression"
														},
														"ContName": {
															"value": "@pipeline().parameters.par_cont",
															"type": "Expression"
														},
														"FoldPath": {
															"value": "@concat(pipeline().parameters.par_folder,'INVENTARIO')",
															"type": "Expression"
														}
													}
												}
											]
										},
										{
											"name": "Copy CEVISUR Productos",
											"type": "Copy",
											"dependsOn": [
												{
													"activity": "Set variable CEVISUR Productos",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "RestSource",
													"httpRequestTimeout": "00:01:40",
													"requestInterval": "00.00:00:00.010",
													"requestMethod": "GET",
													"additionalHeaders": {
														"Content-type": {
															"value": "@pipeline().parameters.par_header_content_type",
															"type": "Expression"
														},
														"Authorization": {
															"value": "@concat('Bearer ',variables('var_cevi_login'))",
															"type": "Expression"
														}
													}
												},
												"sink": {
													"type": "JsonSink",
													"storeSettings": {
														"type": "AzureBlobFSWriteSettings"
													},
													"formatSettings": {
														"type": "JsonWriteSettings"
													}
												},
												"enableStaging": false
											},
											"inputs": [
												{
													"referenceName": "ar_rest_api_generic_auth",
													"type": "DatasetReference",
													"parameters": {
														"par_url_complete": {
															"value": "@variables('var_cevi_produtos')",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "json_api_web",
													"type": "DatasetReference",
													"parameters": {
														"FileName": {
															"value": "@concat(pipeline().parameters.FileName,'_CEVISUR_PRODUCTOS_',variables('var_set_fecha_hoy'),'.json')",
															"type": "Expression"
														},
														"ContName": {
															"value": "@pipeline().parameters.par_cont",
															"type": "Expression"
														},
														"FoldPath": {
															"value": "@concat(pipeline().parameters.par_folder,'PRODUCTOS')",
															"type": "Expression"
														}
													}
												}
											]
										},
										{
											"name": "Copy CEVISUR Facturas",
											"type": "Copy",
											"dependsOn": [
												{
													"activity": "Set variable CEVISUR Facturas",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "RestSource",
													"httpRequestTimeout": "00:01:40",
													"requestInterval": "00.00:00:00.010",
													"requestMethod": "GET",
													"additionalHeaders": {
														"Content-type": {
															"value": "@pipeline().parameters.par_header_content_type",
															"type": "Expression"
														},
														"Authorization": {
															"value": "@concat('Bearer ',variables('var_cevi_login'))",
															"type": "Expression"
														}
													}
												},
												"sink": {
													"type": "JsonSink",
													"storeSettings": {
														"type": "AzureBlobFSWriteSettings"
													},
													"formatSettings": {
														"type": "JsonWriteSettings"
													}
												},
												"enableStaging": false
											},
											"inputs": [
												{
													"referenceName": "ar_rest_api_generic_auth",
													"type": "DatasetReference",
													"parameters": {
														"par_url_complete": {
															"value": "@variables('var_cevi_facturas')",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "json_api_web",
													"type": "DatasetReference",
													"parameters": {
														"FileName": {
															"value": "@concat(pipeline().parameters.FileName,'_CEVISUR_FACTURAS_',variables('var_set_fecha_hoy'),'.json')",
															"type": "Expression"
														},
														"ContName": {
															"value": "@pipeline().parameters.par_cont",
															"type": "Expression"
														},
														"FoldPath": {
															"value": "@concat(pipeline().parameters.par_folder,'FACTURAS')",
															"type": "Expression"
														}
													}
												}
											]
										}
									]
								}
							],
							"defaultActivities": [
								{
									"name": "Unknown Provider",
									"description": "Return if no URL is found.",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						}
					},
					{
						"name": "Set variable Fecha Hoy",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "var_set_fecha_hoy",
							"value": {
								"value": "@formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Switch Bronze Layer",
						"type": "Switch",
						"dependsOn": [
							{
								"activity": "Switch Supplier",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"on": {
								"value": "@if(\n    contains(pipeline().parameters.par_url,'driv'),\n    'DRIVIN',\n    if(contains(pipeline().parameters.par_url,'e-smap'),\n    'RIVERA',\n    if(contains(pipeline().parameters.par_url,'cevisur'),\n    'CEVISUR',\n    if(contains(pipeline().parameters.par_url,'187.141.10.78'),\n    'NIETO','Default'  \n    )\n    )\n    )\n)",
								"type": "Expression"
							},
							"cases": [
								{
									"value": "NIETO",
									"activities": [
										{
											"name": "Notebook Load NIETO Bronze",
											"type": "DatabricksNotebook",
											"dependsOn": [],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"notebookPath": "/Repos/fernando.alves@br.nestle.com/DatabricksMX/0010_load_bronze_tb_mx_api_nieto",
												"baseParameters": {
													"parFechaExecution": {
														"value": "@variables('var_set_fecha_hoy')",
														"type": "Expression"
													},
													"parFileNameTitle": "NIETO",
													"parFilePath": {
														"value": "@concat(pipeline().parameters.par_cont,pipeline().parameters.par_folder)",
														"type": "Expression"
													}
												}
											},
											"linkedServiceName": {
												"referenceName": "lk_nmex_dv_origenesmx_id_usw2_dbr",
												"type": "LinkedServiceReference"
											}
										}
									]
								},
								{
									"value": "RIVERA",
									"activities": [
										{
											"name": "Notebook RIVERA Bronze",
											"type": "DatabricksNotebook",
											"dependsOn": [],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"notebookPath": "/Repos/fernando.alves@br.nestle.com/DatabricksMX/0010_load_bronze_tb_mx_api_rivera",
												"baseParameters": {
													"parFechaExecution": {
														"value": "@variables('var_set_fecha_hoy')",
														"type": "Expression"
													},
													"parFileNameTitle": "RIVERA",
													"parFilePath": {
														"value": "@concat(pipeline().parameters.par_cont,pipeline().parameters.par_folder)",
														"type": "Expression"
													}
												}
											},
											"linkedServiceName": {
												"referenceName": "lk_nmex_dv_origenesmx_id_usw2_dbr",
												"type": "LinkedServiceReference"
											}
										}
									]
								},
								{
									"value": "DRIVIN",
									"activities": [
										{
											"name": "Notebook Load DRIVIN Bronze",
											"type": "DatabricksNotebook",
											"dependsOn": [],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"notebookPath": "/Repos/fernando.alves@br.nestle.com/DatabricksMX/0010_load_bronze_tb_mx_api_drivin",
												"baseParameters": {
													"parFechaExecution": {
														"value": "@variables('var_set_fecha_hoy')",
														"type": "Expression"
													},
													"parFileNameTitle": "DRIVIN",
													"parFilePath": {
														"value": "@concat(pipeline().parameters.par_cont,pipeline().parameters.par_folder)",
														"type": "Expression"
													}
												}
											},
											"linkedServiceName": {
												"referenceName": "lk_nmex_dv_origenesmx_id_usw2_dbr",
												"type": "LinkedServiceReference"
											}
										}
									]
								},
								{
									"value": "CEVISUR",
									"activities": [
										{
											"name": "Notebook Load CEVISUR Bronze",
											"type": "DatabricksNotebook",
											"dependsOn": [],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"notebookPath": "/Repos/fernando.alves@br.nestle.com/DatabricksMX/0010_load_bronze_tb_mx_api_cevisur",
												"baseParameters": {
													"parFechaExecution": {
														"value": "@variables('var_set_fecha_hoy')",
														"type": "Expression"
													},
													"parFileNameTitle": "CEVISUR",
													"parFilePath": {
														"value": "@concat(pipeline().parameters.par_cont,pipeline().parameters.par_folder)",
														"type": "Expression"
													}
												}
											},
											"linkedServiceName": {
												"referenceName": "lk_nmex_dv_origenesmx_id_usw2_dbr",
												"type": "LinkedServiceReference"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_url": {
						"type": "string"
					},
					"par_stardate": {
						"type": "string"
					},
					"par_enddate": {
						"type": "string"
					},
					"par_header_content_type": {
						"type": "string",
						"defaultValue": "application/json"
					},
					"par_header_key": {
						"type": "string"
					},
					"FileName": {
						"type": "string",
						"defaultValue": "JSON"
					},
					"par_cont": {
						"type": "string",
						"defaultValue": "dev"
					},
					"par_folder": {
						"type": "string",
						"defaultValue": "/inbound/ext_api_files_new/PROVIDER/"
					},
					"par_url_login": {
						"type": "string",
						"defaultValue": "https://central.cevisur.com.mx:8443/nestle/api/auth/login"
					}
				},
				"variables": {
					"var_riv_ventas": {
						"type": "String"
					},
					"var_nie_ventas": {
						"type": "String"
					},
					"var_driv": {
						"type": "String"
					},
					"var_supplier": {
						"type": "String"
					},
					"var_cevi_login": {
						"type": "String"
					},
					"var_cevi_ventas": {
						"type": "String"
					},
					"var_cevi_inventario": {
						"type": "String"
					},
					"var_cevi_clientes": {
						"type": "String"
					},
					"var_cevi_produtos": {
						"type": "String"
					},
					"var_riv_inventario": {
						"type": "String"
					},
					"var_nie_inventarios": {
						"type": "String"
					},
					"var_nie_clientes": {
						"type": "String"
					},
					"var_nie_productos": {
						"type": "String"
					},
					"var_set_fecha_hoy": {
						"type": "String"
					},
					"var_cevi_facturas": {
						"type": "String"
					},
					"var_url_default": {
						"type": "String"
					},
					"var_driv_direccion": {
						"type": "String"
					},
					"var_driv_rutas": {
						"type": "String"
					},
					"var_driv_vehiculos": {
						"type": "String"
					},
					"var_driv_grupo_vehiculos": {
						"type": "String"
					}
				},
				"folder": {
					"name": "amsmx_finance_creditnotes/Utils/API_Web"
				},
				"annotations": [],
				"lastPublishTime": "2023-08-07T23:28:31Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_extract_move_blob_to_blob_Folders')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Folder",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_sc_nmex_devorigmx_generic",
								"type": "DatasetReference",
								"parameters": {
									"par_container": {
										"value": "@pipeline().parameters.parContainer",
										"type": "Expression"
									},
									"par_diretorio": {
										"value": "@pipeline().parameters.parPathCopy",
										"type": "Expression"
									},
									"par_arquivo": {
										"value": "@pipeline().parameters.parFileNameCopy",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "Filter Blob Folders",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get Folder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Folder').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().name,'Teste_caxias')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach Copy",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter Blob Folders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter Blob Folders').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Pipeline Filtering Folders",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_extract_move_blob_to_blob_filter",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"parFolderName": {
												"value": "@item().name",
												"type": "Expression"
											},
											"parContName": {
												"value": "@pipeline().parameters.parContainer",
												"type": "Expression"
											},
											"parPathCopy": {
												"value": "@pipeline().parameters.parPathCopy",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"parPathCopy": {
						"type": "string",
						"defaultValue": "inbound"
					},
					"parPathDestination": {
						"type": "string",
						"defaultValue": "inbound/Teste_caxias_historical"
					},
					"parContainer": {
						"type": "string",
						"defaultValue": "dev"
					},
					"parFileNameCopy": {
						"type": "string"
					}
				},
				"folder": {
					"name": "amsmx_supply_alice"
				},
				"annotations": [],
				"lastPublishTime": "2023-08-07T23:28:31Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_master_copy_ic3_to_lake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "pl_extract_p_ic3",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_extract_p_ic3",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pl_logical_p_ic3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pl_extract_p_ic3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_logical_p_ic3",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pl_load_p_ic3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pl_logical_p_ic3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_load_p_ic3",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "amsmx_finance_creditnotes"
				},
				"annotations": [],
				"lastPublishTime": "2023-08-07T23:28:31Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_master_extract_catalogs')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Extract Inbound Bronze",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "ReadCSVConfing",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('ReadCSVConfing').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "pl_common_shp",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_common_shp",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"parEnvironment": {
												"value": "@item().Enviroment",
												"type": "Expression"
											},
											"parAdlsDestinationFolder": {
												"value": "@item().AdlsDestinationFolder",
												"type": "Expression"
											},
											"parFileName": {
												"value": "@item().FileName",
												"type": "Expression"
											},
											"parShpSiteUrl": "https://nestle.sharepoint.com/teams/nmex-supplychain-alice",
											"parShpRelativeFolderPath": "Shared Documents",
											"parModifiedLastNHours": "1",
											"parClientID": "https://nmexdvorigmxdhusw2key.vault.azure.net/secrets/shp-clientid-nmex-supplychain-alice/?api-version=7.0",
											"parClientSecret": "https://nmexdvorigmxdhusw2key.vault.azure.net/secrets/shp-clientsecret-nmex-supplychain-alice/?api-version=7.0",
											"par_UtcNowVar": {
												"value": "@variables('varUtcNow')",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Get Metadata1",
									"type": "GetMetadata",
									"dependsOn": [
										{
											"activity": "pl_common_shp",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ds_sc_nmex_devorigmx_generic",
											"type": "DatasetReference",
											"parameters": {
												"par_container": {
													"value": "@item().Enviroment",
													"type": "Expression"
												},
												"par_diretorio": "@item().AdlsDestinationFolder",
												"par_arquivo": "@item().FileName"
											}
										},
										"fieldList": [
											"lastModified",
											"itemName"
										],
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "BinaryReadSettings"
										}
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Get Metadata1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(formatDateTime(activity('Get Metadata1').output.lastModified,'yyyy-MM-dd'),formatDateTime(variables('varUtcNow'),'yyyy-MM-dd'))\n",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Catalogs Notebook",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "pl_load_catalogs_notebook",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"parDateTimeUTC": {
															"value": "@variables('varUtcNow')",
															"type": "Expression"
														},
														"parNotebook": {
															"value": "@item().Notebook",
															"type": "Expression"
														},
														"parArchivoNombreAtual": {
															"value": "@item().FileName",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								},
								{
									"name": "Send Email Error Sharepoint to blob",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "pl_common_shp",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_send_email_notification_alice",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"par_conteudo_email": "Ocurri un error en Pipeline al cargar el catalogo de Sharepoint nmex-supplychain-alice al blob, validar formato del archivo",
											"par_lista_email": "rafael.medeiros2@br.nestle.com;yair.atristain@mx.nestle.com;Roberto.Fernandez@mx.nestle.com;Ricardo.Falcon@n-agencias.com.mx;valeria.camacho1@mx.nestle.com",
											"par_project_name": "ALICE",
											"par_status_msg": "Error",
											"par_etapa": {
												"value": "@item().FileName",
												"type": "Expression"
											},
											"par_fecha": {
												"value": "@variables('varUtcNow')",
												"type": "Expression"
											},
											"par_runid": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Send Email Error Catalogs Notebooks",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "If Condition1",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_send_email_notification_alice",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"par_conteudo_email": "Ocurri un error en Pipeline al cargar el catalogo en los Notebooks de databricks",
											"par_lista_email": "rafael.medeiros2@br.nestle.com;yair.atristain@mx.nestle.com;Roberto.Fernandez@mx.nestle.com;Ricardo.Falcon@n-agencias.com.mx;valeria.camacho1@mx.nestle.com",
											"par_project_name": "ALICE",
											"par_status_msg": "Error",
											"par_etapa": {
												"value": "@item().FileName",
												"type": "Expression"
											},
											"par_fecha": {
												"value": "@variables('varUtcNow')",
												"type": "Expression"
											},
											"par_runid": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "ReadCSVConfing",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "utcNowFolder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_adsl2_origenesmx_csv",
								"type": "DatasetReference",
								"parameters": {
									"par_directory": "catalogs_automatitation",
									"par_filename": "rutas.csv",
									"par_delimeter": ","
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "utcNowFolder",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "varUtcNow",
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"varFileName": {
						"type": "String"
					},
					"varAdlsDestinationFolder": {
						"type": "String"
					},
					"varEnviroment": {
						"type": "String"
					},
					"varUtcNow": {
						"type": "String"
					}
				},
				"folder": {
					"name": "amsmx_supply_alice"
				},
				"annotations": [],
				"lastPublishTime": "2023-08-07T23:28:31Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_master_extract_tables_alice')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Fecha Actual",
						"description": "Obtem a data que vai ser utilizada durante todo o processo ",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "varFechaAtual",
							"value": {
								"value": "@formatDateTime(utcnow(),'yyyyMMdd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "pl_extract_move_blob_to_blob",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Get Fecha Actual",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_extract_move_blob_to_blob",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"parFileNameCopy": {
									"value": "@pipeline().parameters.m_parFileNameCopy",
									"type": "Expression"
								},
								"parPathCopy": {
									"value": "@pipeline().parameters.m_parPathCopy",
									"type": "Expression"
								},
								"parPathDestination": {
									"value": "@pipeline().parameters.m_parPathDestination",
									"type": "Expression"
								},
								"parFileNameTitle": {
									"value": "@pipeline().parameters.m_parFileNameTitle",
									"type": "Expression"
								},
								"parContainer": {
									"value": "@pipeline().parameters.m_parContainer",
									"type": "Expression"
								},
								"parFechaAtual": {
									"value": "@variables('varFechaAtual')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "pl_load_tablas_notebook_alice",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pl_extract_move_blob_to_blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_load_tablas_notebook_alice",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"parFechaAtual_Carga": {
									"value": "@variables('varFechaAtual')",
									"type": "Expression"
								},
								"parTableName": {
									"value": "@pipeline().parameters.m_parFileNameTitle",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "pl_common_load_datascience",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pl_load_tablas_notebook_alice",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_common_load_datascience",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"parTableName_Load": {
									"value": "@pipeline().parameters.m_parFileNameTitle",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Send Email Error Blob",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pl_extract_move_blob_to_blob",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_send_email_notification_alice",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"par_conteudo_email": "Ocurri un error en Pipeline al copiar los archivos al Blob",
								"par_lista_email": "rafael.medeiros2@br.nestle.com;yair.atristain@mx.nestle.com;Roberto.Fernandez@mx.nestle.com;Ricardo.Falcon@n-agencias.com.mx;valeria.camacho1@mx.nestle.com",
								"par_project_name": "ALICE",
								"par_status_msg": "Error",
								"par_etapa": {
									"value": "@pipeline().parameters.m_parFileNameTitle",
									"type": "Expression"
								},
								"par_fecha": {
									"value": "@variables('varFechaAtual')",
									"type": "Expression"
								},
								"par_runid": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Send Email Error Load Tablas",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pl_load_tablas_notebook_alice",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_send_email_notification_alice",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"par_conteudo_email": "Ocurri un error en Pipeline al crear las tablas delta in Databricks",
								"par_lista_email": "rafael.medeiros2@br.nestle.com;yair.atristain@mx.nestle.com;Roberto.Fernandez@mx.nestle.com;Ricardo.Falcon@n-agencias.com.mx;valeria.camacho1@mx.nestle.com",
								"par_project_name": "ALICE",
								"par_status_msg": "Error",
								"par_etapa": {
									"value": "@pipeline().parameters.m_parFileNameTitle",
									"type": "Expression"
								},
								"par_fecha": {
									"value": "@variables('varFechaAtual')",
									"type": "Expression"
								},
								"par_runid": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Send Email Error Load Datascience",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pl_common_load_datascience",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_send_email_notification_alice",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"par_conteudo_email": "Ocurri un error en Pipeline al copiar las tablas al Datascience",
								"par_lista_email": "rafael.medeiros2@br.nestle.com;yair.atristain@mx.nestle.com;Roberto.Fernandez@mx.nestle.com;Ricardo.Falcon@n-agencias.com.mx;valeria.camacho1@mx.nestle.com",
								"par_project_name": "ALICE",
								"par_status_msg": "Error",
								"par_etapa": {
									"value": "@pipeline().parameters.m_parFileNameTitle",
									"type": "Expression"
								},
								"par_fecha": {
									"value": "@variables('varFechaAtual')",
									"type": "Expression"
								},
								"par_runid": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Send Email Completed Pipeline",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pl_common_load_datascience",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_send_email_notification_alice",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"par_conteudo_email": "El Pipeline se ejecut correctamente",
								"par_lista_email": "rafael.medeiros2@br.nestle.com;yair.atristain@mx.nestle.com;Roberto.Fernandez@mx.nestle.com;Ricardo.Falcon@n-agencias.com.mx;valeria.camacho1@mx.nestle.com",
								"par_project_name": "ALICE",
								"par_status_msg": "Sucesso",
								"par_etapa": {
									"value": "@pipeline().parameters.m_parFileNameTitle",
									"type": "Expression"
								},
								"par_fecha": {
									"value": "@variables('varFechaAtual')",
									"type": "Expression"
								},
								"par_runid": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"m_parContainer": {
						"type": "string"
					},
					"m_parFileNameTitle": {
						"type": "string"
					},
					"m_parPathDestination": {
						"type": "string"
					},
					"m_parPathCopy": {
						"type": "string"
					},
					"m_parFileNameCopy": {
						"type": "string"
					}
				},
				"variables": {
					"varFechaAtual": {
						"type": "String"
					}
				},
				"folder": {
					"name": "amsmx_supply_alice"
				},
				"annotations": [],
				"lastPublishTime": "2023-08-07T23:28:31Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_master_extract_tables_alice_UPDATING')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Fecha Actual",
						"description": "Obtem a data que vai ser utilizada durante todo o processo ",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "varFechaAtual",
							"value": {
								"value": "@formatDateTime(utcnow(),'yyyyMMdd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "pl_extract_move_blob_to_blob",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Get Fecha Actual",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_extract_move_blob_to_blob",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"parFileNameCopy": {
									"value": "@pipeline().parameters.m_parFileNameCopy",
									"type": "Expression"
								},
								"parPathCopy": {
									"value": "@pipeline().parameters.m_parPathCopy",
									"type": "Expression"
								},
								"parPathDestination": {
									"value": "@pipeline().parameters.m_parPathDestination",
									"type": "Expression"
								},
								"parFileNameTitle": {
									"value": "@pipeline().parameters.m_parFileNameTitle",
									"type": "Expression"
								},
								"parContainer": {
									"value": "@pipeline().parameters.m_parContainer",
									"type": "Expression"
								},
								"parFechaAtual": {
									"value": "@variables('varFechaAtual')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "pl_load_tablas_notebook_alice",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pl_extract_move_blob_to_blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_load_tablas_notebook_alice",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"parFechaAtual_Carga": {
									"value": "@variables('varFechaAtual')",
									"type": "Expression"
								},
								"parTableName": {
									"value": "@pipeline().parameters.m_parFileNameTitle",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "pl_common_load_datascience",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pl_load_tablas_notebook_alice",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_common_load_datascience",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"parTableName_Load": {
									"value": "@pipeline().parameters.m_parFileNameTitle",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Send Email Error Blob",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pl_extract_move_blob_to_blob",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_send_email_notification_alice",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"par_conteudo_email": "Ocurri un error en Pipeline al copiar los archivos al Blob",
								"par_lista_email": "rafael.medeiros2@br.nestle.com;yair.atristain@mx.nestle.com;Roberto.Fernandez@mx.nestle.com;Ricardo.Falcon@n-agencias.com.mx",
								"par_project_name": "ALICE",
								"par_status_msg": "Error",
								"par_etapa": {
									"value": "@pipeline().parameters.m_parFileNameTitle",
									"type": "Expression"
								},
								"par_fecha": {
									"value": "@variables('varFechaAtual')",
									"type": "Expression"
								},
								"par_runid": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Send Email Error Load Tablas",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pl_load_tablas_notebook_alice",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_send_email_notification_alice",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"par_conteudo_email": "Ocurri un error en Pipeline al crear las tablas delta in Databricks",
								"par_lista_email": "rafael.medeiros2@br.nestle.com;yair.atristain@mx.nestle.com;Roberto.Fernandez@mx.nestle.com;Ricardo.Falcon@n-agencias.com.mx",
								"par_project_name": "ALICE",
								"par_status_msg": "Error",
								"par_etapa": {
									"value": "@pipeline().parameters.m_parFileNameTitle",
									"type": "Expression"
								},
								"par_fecha": {
									"value": "@variables('varFechaAtual')",
									"type": "Expression"
								},
								"par_runid": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Send Email Error Load Datascience",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pl_common_load_datascience",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_send_email_notification_alice",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"par_conteudo_email": "Ocurri un error en Pipeline al copiar las tablas al Datascience",
								"par_lista_email": "rafael.medeiros2@br.nestle.com;yair.atristain@mx.nestle.com;Roberto.Fernandez@mx.nestle.com;Ricardo.Falcon@n-agencias.com.mx",
								"par_project_name": "ALICE",
								"par_status_msg": "Error",
								"par_etapa": {
									"value": "@pipeline().parameters.m_parFileNameTitle",
									"type": "Expression"
								},
								"par_fecha": {
									"value": "@variables('varFechaAtual')",
									"type": "Expression"
								},
								"par_runid": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Send Email Completed Pipeline",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pl_extract_move_blob_to_blob_Folders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_send_email_notification_alice",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"par_conteudo_email": "El Pipeline se ejecut correctamente",
								"par_lista_email": "rafael.medeiros2@br.nestle.com;yair.atristain@mx.nestle.com;Roberto.Fernandez@mx.nestle.com;Ricardo.Falcon@n-agencias.com.mx",
								"par_project_name": "ALICE",
								"par_status_msg": "Sucesso",
								"par_etapa": {
									"value": "@pipeline().parameters.m_parFileNameTitle",
									"type": "Expression"
								},
								"par_fecha": {
									"value": "@variables('varFechaAtual')",
									"type": "Expression"
								},
								"par_runid": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "pl_extract_move_blob_to_blob_Folders",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pl_common_load_datascience",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_extract_move_blob_to_blob_filter",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"parFolderName": {
									"value": "@pipeline().parameters.m_parFileNameCopy",
									"type": "Expression"
								},
								"parContName": {
									"value": "@pipeline().parameters.m_parContainer",
									"type": "Expression"
								},
								"parPathCopy": {
									"value": "@pipeline().parameters.m_parPathCopy",
									"type": "Expression"
								},
								"parPathDestination": {
									"value": "@pipeline().parameters.m_parPathArchive",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"m_parContainer": {
						"type": "string"
					},
					"m_parFileNameTitle": {
						"type": "string"
					},
					"m_parPathDestination": {
						"type": "string"
					},
					"m_parPathCopy": {
						"type": "string"
					},
					"m_parFileNameCopy": {
						"type": "string"
					},
					"m_parPathArchive": {
						"type": "string"
					}
				},
				"variables": {
					"varFechaAtual": {
						"type": "String"
					}
				},
				"folder": {
					"name": "amsmx_supply_alice"
				},
				"annotations": [],
				"lastPublishTime": "2023-08-07T23:28:31Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/prod_pl_master_extract_tables_alice')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Fecha Actual",
						"description": "Obtem a data que vai ser utilizada durante todo o processo ",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "varFechaAtual",
							"value": {
								"value": "@formatDateTime(utcnow(),'yyyyMMdd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "pl_extract_move_blob_to_blob",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Get Fecha Actual",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_extract_move_blob_to_blob",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"parFileNameCopy": {
									"value": "@pipeline().parameters.m_parFileNameCopy",
									"type": "Expression"
								},
								"parPathCopy": {
									"value": "@pipeline().parameters.m_parPathCopy",
									"type": "Expression"
								},
								"parPathDestination": {
									"value": "@pipeline().parameters.m_parPathDestination",
									"type": "Expression"
								},
								"parFileNameTitle": {
									"value": "@pipeline().parameters.m_parFileNameTitle",
									"type": "Expression"
								},
								"parContainer": {
									"value": "@pipeline().parameters.m_parContainer",
									"type": "Expression"
								},
								"parFechaAtual": {
									"value": "@variables('varFechaAtual')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "pl_load_tablas_notebook_alice",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pl_extract_move_blob_to_blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_load_tablas_notebook_alice",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"parFechaAtual_Carga": {
									"value": "@variables('varFechaAtual')",
									"type": "Expression"
								},
								"parTableName": {
									"value": "@pipeline().parameters.m_parFileNameTitle",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Send Email Error Blob",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pl_extract_move_blob_to_blob",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_send_email_notification_alice",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"par_conteudo_email": "Ocurri un error en Pipeline al copiar los archivos al Blob",
								"par_lista_email": "rafael.medeiros2@br.nestle.com;yair.atristain@mx.nestle.com;Roberto.Fernandez@mx.nestle.com;Ricardo.Falcon@n-agencias.com.mx",
								"par_project_name": "ALICE",
								"par_status_msg": "Error",
								"par_etapa": {
									"value": "@pipeline().parameters.m_parFileNameTitle",
									"type": "Expression"
								},
								"par_fecha": {
									"value": "@variables('varFechaAtual')",
									"type": "Expression"
								},
								"par_runid": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Send Email Error Load Tablas",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pl_load_tablas_notebook_alice",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_send_email_notification_alice",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"par_conteudo_email": "Ocurri un error en Pipeline al crear las tablas delta in Databricks",
								"par_lista_email": "rafael.medeiros2@br.nestle.com;yair.atristain@mx.nestle.com;Roberto.Fernandez@mx.nestle.com;Ricardo.Falcon@n-agencias.com.mx",
								"par_project_name": "ALICE",
								"par_status_msg": "Error",
								"par_etapa": {
									"value": "@pipeline().parameters.m_parFileNameTitle",
									"type": "Expression"
								},
								"par_fecha": {
									"value": "@variables('varFechaAtual')",
									"type": "Expression"
								},
								"par_runid": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Send Email Completed Pipeline",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pl_load_tablas_notebook_alice",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_send_email_notification_alice",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"par_conteudo_email": "El Pipeline se ejecut correctamente",
								"par_lista_email": "rafael.medeiros2@br.nestle.com;yair.atristain@mx.nestle.com;Roberto.Fernandez@mx.nestle.com;Ricardo.Falcon@n-agencias.com.mx",
								"par_project_name": "ALICE",
								"par_status_msg": "Sucesso",
								"par_etapa": {
									"value": "@pipeline().parameters.m_parFileNameTitle",
									"type": "Expression"
								},
								"par_fecha": {
									"value": "@variables('varFechaAtual')",
									"type": "Expression"
								},
								"par_runid": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"m_parContainer": {
						"type": "string"
					},
					"m_parFileNameTitle": {
						"type": "string"
					},
					"m_parPathDestination": {
						"type": "string"
					},
					"m_parPathCopy": {
						"type": "string"
					},
					"m_parFileNameCopy": {
						"type": "string"
					}
				},
				"variables": {
					"varFechaAtual": {
						"type": "String"
					}
				},
				"folder": {
					"name": "amsmx_supply_alice"
				},
				"annotations": [],
				"lastPublishTime": "2023-08-07T23:28:32Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_alice_copy_bl_to_bl_atp_files')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_copy_blob_to_blob_atp_files",
							"type": "PipelineReference"
						},
						"parameters": {
							"par_Folder": "[parameters('tg_alice_copy_bl_to_bl_atp_files_properties_pl_copy_blob_to_blob_atp_files_parameters_par_Folder')]",
							"par_Archivo_Nombre": "[parameters('tg_alice_copy_bl_to_bl_atp_files_properties_pl_copy_blob_to_blob_atp_files_parameters_par_Archivo_Nombre')]",
							"par_Destination_Folder": "[parameters('tg_alice_copy_bl_to_bl_atp_files_properties_pl_copy_blob_to_blob_atp_files_parameters_par_Destination_Folder')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-04-24T18:28:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								14
							],
							"hours": [
								7,
								8,
								15,
								23
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_mx_sc_tb_mx_sc_alice_api_live_inbound')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_extract_api_tablas_inb_outb",
							"type": "PipelineReference"
						},
						"parameters": {
							"par_search_type": "[parameters('tg_mx_sc_tb_mx_sc_alice_api_live_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_search_type')]",
							"par_url": "[parameters('tg_mx_sc_tb_mx_sc_alice_api_live_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_url')]",
							"par_folder": "[parameters('tg_mx_sc_tb_mx_sc_alice_api_live_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_folder')]",
							"par_url_base": "[parameters('tg_mx_sc_tb_mx_sc_alice_api_live_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_url_base')]",
							"par_cont": "[parameters('tg_mx_sc_tb_mx_sc_alice_api_live_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_cont')]",
							"par_status": "[parameters('tg_mx_sc_tb_mx_sc_alice_api_live_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_status')]",
							"par_function": "[parameters('tg_mx_sc_tb_mx_sc_alice_api_live_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_function')]",
							"par_tabla": "[parameters('tg_mx_sc_tb_mx_sc_alice_api_live_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_tabla')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-03-31T21:11:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								15,
								45
							],
							"hours": [
								2,
								3,
								4,
								5,
								6,
								7,
								8,
								9,
								10,
								11,
								12,
								13,
								14,
								15,
								16,
								17,
								18,
								19,
								20,
								21,
								22,
								23
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_mx_sc_tb_mx_sc_alice_api_live_outbound')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_extract_api_tablas_inb_outb",
							"type": "PipelineReference"
						},
						"parameters": {
							"par_search_type": "[parameters('tg_mx_sc_tb_mx_sc_alice_api_live_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_search_type')]",
							"par_url": "[parameters('tg_mx_sc_tb_mx_sc_alice_api_live_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_url')]",
							"par_folder": "[parameters('tg_mx_sc_tb_mx_sc_alice_api_live_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_folder')]",
							"par_url_base": "[parameters('tg_mx_sc_tb_mx_sc_alice_api_live_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_url_base')]",
							"par_cont": "[parameters('tg_mx_sc_tb_mx_sc_alice_api_live_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_cont')]",
							"par_status": "[parameters('tg_mx_sc_tb_mx_sc_alice_api_live_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_status')]",
							"par_function": "[parameters('tg_mx_sc_tb_mx_sc_alice_api_live_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_function')]",
							"par_tabla": "[parameters('tg_mx_sc_tb_mx_sc_alice_api_live_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_tabla')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-03-31T21:11:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								30,
								0
							],
							"hours": [
								2,
								3,
								4,
								5,
								6,
								7,
								8,
								9,
								10,
								11,
								13,
								14,
								15,
								16,
								17,
								18,
								19,
								20,
								21,
								22,
								23,
								12
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_sales_powerbi_refresh')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_sales_refresh_power_bi",
							"type": "PipelineReference"
						},
						"parameters": {
							"par_blob_filename": "[parameters('tg_sales_powerbi_refresh_properties_pl_sales_refresh_power_bi_parameters_par_blob_filename')]",
							"par_blob_path": "[parameters('tg_sales_powerbi_refresh_properties_pl_sales_refresh_power_bi_parameters_par_blob_path')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/datascience/blobs/datastore/sales/powerbi/",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('tg_sales_powerbi_refresh_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_tb_mx_sc_alice_api_historical_inbound')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_extract_api_tablas_inb_outb",
							"type": "PipelineReference"
						},
						"parameters": {
							"par_search_type": "[parameters('tg_tb_mx_sc_alice_api_historical_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_search_type')]",
							"par_url": "[parameters('tg_tb_mx_sc_alice_api_historical_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_url')]",
							"par_folder": "[parameters('tg_tb_mx_sc_alice_api_historical_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_folder')]",
							"par_url_base": "[parameters('tg_tb_mx_sc_alice_api_historical_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_url_base')]",
							"par_cont": "[parameters('tg_tb_mx_sc_alice_api_historical_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_cont')]",
							"par_status": "[parameters('tg_tb_mx_sc_alice_api_historical_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_status')]",
							"par_function": "[parameters('tg_tb_mx_sc_alice_api_historical_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_function')]",
							"par_tabla": "[parameters('tg_tb_mx_sc_alice_api_historical_inbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_tabla')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-04-10T20:56:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								1
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_tb_mx_sc_alice_api_historical_outbound')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_extract_api_tablas_inb_outb",
							"type": "PipelineReference"
						},
						"parameters": {
							"par_search_type": "[parameters('tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_search_type')]",
							"par_url": "[parameters('tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_url')]",
							"par_folder": "[parameters('tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_folder')]",
							"par_url_base": "[parameters('tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_url_base')]",
							"par_cont": "[parameters('tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_cont')]",
							"par_function": "[parameters('tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_function')]",
							"par_tabla": "[parameters('tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_tabla')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-04-10T20:53:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								1
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_afs_npp_1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_afs_npp",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Month",
						"interval": 1,
						"startTime": "2023-07-02T13:51:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								35
							],
							"hours": [
								17
							],
							"monthDays": [
								1
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_afs_npp_2')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_afs_npp",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2023-07-04T17:15:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								15
							],
							"hours": [
								8
							],
							"weekDays": [
								"Monday"
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_drivin_daily_api')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_daily_DRIVIN",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-03-14T14:12:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								23
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_load_sales')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get ADF DB notebooks parameters",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_adls_datascience_csv",
								"type": "DatasetReference",
								"parameters": {
									"par_directory": "datastore/sales/adf_parameters/",
									"par_filename": "ADF_parameters_db_notebooks.csv",
									"par_delimiter": ",",
									"par_encoding": "UTF-8",
									"par_header": true
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach ADF DB notebooks parameters",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get ADF DB notebooks parameters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get ADF DB notebooks parameters').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "If Condition ADF DB notebooks parameters",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(item().blob_filename,pipeline().parameters.par_blob_filename)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "pl_load_sales",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "pl_common_generic_databricks_notebooks_solution",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"par_db_folder_path": {
															"value": "@string(item().db_folder_path)",
															"type": "Expression"
														},
														"par_db_sol_path": {
															"value": "@string(item().db_sol_path)",
															"type": "Expression"
														},
														"par_solution": {
															"value": "@string(item().solution)",
															"type": "Expression"
														},
														"par_id": {
															"value": "@string(item().id)",
															"type": "Expression"
														},
														"par_parquet": {
															"value": "@string(item().parquet)",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_blob_path": {
						"type": "string"
					},
					"par_blob_filename": {
						"type": "string"
					}
				},
				"variables": {
					"var_db_folder_path": {
						"type": "String"
					},
					"var_db_sol_path": {
						"type": "String"
					},
					"var_solution": {
						"type": "String"
					},
					"var_id": {
						"type": "String"
					},
					"var_test": {
						"type": "String"
					}
				},
				"folder": {
					"name": "amsmx_sales"
				},
				"annotations": [],
				"lastPublishTime": "2023-08-07T23:28:33Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_master_copy_tipification_to_lake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "API Copy Sharepoint to Lake",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pl_common_verify_file_sharepoint",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_common_shp_copy-multiplefilestodatalakehourfilter",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"parAdlsDestinationFolder": "inbound/credit_notes/files_tipification",
								"parFileName": "Tipification",
								"parShpSiteUrl": "https://nestle.sharepoint.com/teams/nmex-tipification-trabajo",
								"parShpRelativeFolderPath": "Documentos Compartilhados",
								"parModifiedLastNHours": "200",
								"parClientID": "https://nmexdvorigmxdhusw2key.vault.azure.net/secrets/shp-clientid-nmex-trabajo-tipification/?api-version=7.0",
								"parClientSecret": "https://nmexdvorigmxdhusw2key.vault.azure.net/secrets/shp-clientsecret-nmex-trabajo-tipification/?api-version=7.0",
								"par_UtcNowVar": {
									"value": "@variables('var_UtcNow')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "utcNowFolder",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "var_UtcNow",
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "pl_common_verify_file_sharepoint",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "utcNowFolder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_common_verify_file_sharepoint",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pl_common_load_extract_tipification",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "API Copy Sharepoint to Lake",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_common_load_extract_tipification",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pl_common_extract_log_register",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pl_common_load_extract_tipification",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_common_extract_log_register",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pl_common_extract_log_register_failure",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pl_common_verify_file_sharepoint",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_common_extract_log_register",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pl_common_extract_log_register_failure_01",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "API Copy Sharepoint to Lake",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_common_extract_log_register",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"var_UtcNow": {
						"type": "String"
					},
					"var_FileTipificationNameOut": {
						"type": "String"
					}
				},
				"folder": {
					"name": "amsmx_finance_creditnotes"
				},
				"annotations": [],
				"lastPublishTime": "2023-08-07T23:28:34Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_alice_tb_mx_sc_ageing')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_master_extract_tables_alice",
							"type": "PipelineReference"
						},
						"parameters": {
							"m_parContainer": "[parameters('tg_alice_tb_mx_sc_ageing_properties_pl_master_extract_tables_alice_parameters_m_parContainer')]",
							"m_parFileNameTitle": "[parameters('tg_alice_tb_mx_sc_ageing_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle')]",
							"m_parPathDestination": "[parameters('tg_alice_tb_mx_sc_ageing_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination')]",
							"m_parPathCopy": "[parameters('tg_alice_tb_mx_sc_ageing_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy')]",
							"m_parFileNameCopy": "[parameters('tg_alice_tb_mx_sc_ageing_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-04-20T07:15:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								15
							],
							"hours": [
								7
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_master_extract_tables_alice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_alice_tb_mx_sc_atp')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_master_extract_tables_alice",
							"type": "PipelineReference"
						},
						"parameters": {
							"m_parContainer": "[parameters('tg_alice_tb_mx_sc_atp_properties_pl_master_extract_tables_alice_parameters_m_parContainer')]",
							"m_parFileNameTitle": "[parameters('tg_alice_tb_mx_sc_atp_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle')]",
							"m_parPathDestination": "[parameters('tg_alice_tb_mx_sc_atp_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination')]",
							"m_parPathCopy": "[parameters('tg_alice_tb_mx_sc_atp_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy')]",
							"m_parFileNameCopy": "[parameters('tg_alice_tb_mx_sc_atp_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-04-21T07:15:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								15
							],
							"hours": [
								7,
								15,
								23
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_master_extract_tables_alice')]"
			]
		}
	]
}