nmex-dv-origmx-dh-usw2-adf/linkedTemplates/ArmTemplate_10.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "nmex-dv-origmx-dh-usw2-adf"
		},
		"tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_search_type": {
			"type": "string",
			"defaultValue": "DESPACHO_REAL"
		},
		"tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_url": {
			"type": "string",
			"defaultValue": "https://www.rcontrol.com.mx/rcSuite/GetUserToken?arg00=Origenes02&arg01=Temporal1"
		},
		"tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_folder": {
			"type": "string",
			"defaultValue": "/inbound/ext_api_files/"
		},
		"tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_url_base": {
			"type": "string",
			"defaultValue": "https://www.rcontrol.com.mx/japi/"
		},
		"tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_cont": {
			"type": "string",
			"defaultValue": "dev"
		},
		"tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_function": {
			"type": "string",
			"defaultValue": "get_shipment_info_outb"
		},
		"tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_tabla": {
			"type": "string",
			"defaultValue": "OUTBOUND_HISTORICO"
		},
		"tg_alice_tb_mx_sc_ageing_properties_pl_master_extract_tables_alice_parameters_m_parContainer": {
			"type": "string",
			"defaultValue": "dev"
		},
		"tg_alice_tb_mx_sc_ageing_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle": {
			"type": "string",
			"defaultValue": "ageing"
		},
		"tg_alice_tb_mx_sc_ageing_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_ageing_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_ageing_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy": {
			"type": "string",
			"defaultValue": "AGEING*"
		},
		"tg_alice_tb_mx_sc_atp_properties_pl_master_extract_tables_alice_parameters_m_parContainer": {
			"type": "string",
			"defaultValue": "dev"
		},
		"tg_alice_tb_mx_sc_atp_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle": {
			"type": "string",
			"defaultValue": "atp"
		},
		"tg_alice_tb_mx_sc_atp_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination": {
			"type": "string",
			"defaultValue": "inbound/fact/mail/atp/atp_files/"
		},
		"tg_alice_tb_mx_sc_atp_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy": {
			"type": "string",
			"defaultValue": "inbound/fact/mail/atp/atp_files/"
		},
		"tg_alice_tb_mx_sc_atp_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy": {
			"type": "string",
			"defaultValue": "GATP*"
		},
		"tg_alice_tb_mx_sc_lt23_properties_pl_master_extract_tables_alice_parameters_m_parContainer": {
			"type": "string",
			"defaultValue": "dev"
		},
		"tg_alice_tb_mx_sc_lt23_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle": {
			"type": "string",
			"defaultValue": "lt23"
		},
		"tg_alice_tb_mx_sc_lt23_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_lt23_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_lt23_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy": {
			"type": "string",
			"defaultValue": "LT23*"
		},
		"tg_alice_tb_mx_sc_lx03_properties_pl_master_extract_tables_alice_parameters_m_parContainer": {
			"type": "string",
			"defaultValue": "dev"
		},
		"tg_alice_tb_mx_sc_lx03_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle": {
			"type": "string",
			"defaultValue": "lx03"
		},
		"tg_alice_tb_mx_sc_lx03_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_lx03_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_lx03_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy": {
			"type": "string",
			"defaultValue": "LX03*"
		},
		"tg_alice_tb_mx_sc_mb5t_properties_pl_master_extract_tables_alice_parameters_m_parContainer": {
			"type": "string",
			"defaultValue": "dev"
		},
		"tg_alice_tb_mx_sc_mb5t_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle": {
			"type": "string",
			"defaultValue": "mb5t"
		},
		"tg_alice_tb_mx_sc_mb5t_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_mb5t_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_mb5t_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy": {
			"type": "string",
			"defaultValue": "MB5T*"
		},
		"tg_alice_tb_mx_sc_me2n_properties_pl_master_extract_tables_alice_parameters_m_parContainer": {
			"type": "string",
			"defaultValue": "dev"
		},
		"tg_alice_tb_mx_sc_me2n_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle": {
			"type": "string",
			"defaultValue": "me2n"
		},
		"tg_alice_tb_mx_sc_me2n_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_me2n_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_me2n_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy": {
			"type": "string",
			"defaultValue": "ME2N*"
		},
		"tg_alice_tb_mx_sc_me80fn_properties_pl_master_extract_tables_alice_parameters_m_parContainer": {
			"type": "string",
			"defaultValue": "dev"
		},
		"tg_alice_tb_mx_sc_me80fn_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle": {
			"type": "string",
			"defaultValue": "me80fn"
		},
		"tg_alice_tb_mx_sc_me80fn_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_me80fn_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_me80fn_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy": {
			"type": "string",
			"defaultValue": "ME80FN*"
		},
		"tg_alice_tb_mx_sc_otr_properties_pl_master_extract_tables_alice_parameters_m_parContainer": {
			"type": "string",
			"defaultValue": "dev"
		},
		"tg_alice_tb_mx_sc_otr_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle": {
			"type": "string",
			"defaultValue": "otr"
		},
		"tg_alice_tb_mx_sc_otr_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_otr_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_otr_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy": {
			"type": "string",
			"defaultValue": "OTR_20*"
		},
		"tg_alice_tb_mx_sc_otr_contabilizado_properties_pl_master_extract_tables_alice_parameters_m_parContainer": {
			"type": "string",
			"defaultValue": "dev"
		},
		"tg_alice_tb_mx_sc_otr_contabilizado_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle": {
			"type": "string",
			"defaultValue": "contabilizado"
		},
		"tg_alice_tb_mx_sc_otr_contabilizado_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_otr_contabilizado_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_otr_contabilizado_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy": {
			"type": "string",
			"defaultValue": "OTR_Contabilizado*"
		},
		"tg_alice_tb_mx_sc_trm_log_properties_pl_master_extract_tables_alice_parameters_m_parContainer": {
			"type": "string",
			"defaultValue": "dev"
		},
		"tg_alice_tb_mx_sc_trm_log_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle": {
			"type": "string",
			"defaultValue": "trm_log"
		},
		"tg_alice_tb_mx_sc_trm_log_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_trm_log_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_trm_log_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy": {
			"type": "string",
			"defaultValue": "TRM LOG*"
		},
		"tg_alice_tb_mx_sc_vl06f_con_properties_pl_master_extract_tables_alice_parameters_m_parContainer": {
			"type": "string",
			"defaultValue": "dev"
		},
		"tg_alice_tb_mx_sc_vl06f_con_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle": {
			"type": "string",
			"defaultValue": "vl06f_con"
		},
		"tg_alice_tb_mx_sc_vl06f_con_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_vl06f_con_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_vl06f_con_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy": {
			"type": "string",
			"defaultValue": "VL06F_CON*"
		},
		"tg_alice_tb_mx_sc_vl06f_nac_properties_pl_master_extract_tables_alice_parameters_m_parContainer": {
			"type": "string",
			"defaultValue": "dev"
		},
		"tg_alice_tb_mx_sc_vl06f_nac_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle": {
			"type": "string",
			"defaultValue": "vl06f_nac"
		},
		"tg_alice_tb_mx_sc_vl06f_nac_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_vl06f_nac_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy": {
			"type": "string",
			"defaultValue": "inbound/alice/"
		},
		"tg_alice_tb_mx_sc_vl06f_nac_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy": {
			"type": "string",
			"defaultValue": "VL06F_NAC*"
		},
		"tr_amsmx_sales_nieto_properties_pl_common_generic_api_parameters_par_retailer": {
			"type": "string",
			"defaultValue": "nieto"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/tg_tb_mx_sc_alice_api_historical_outbound')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_extract_api_tablas_inb_outb",
							"type": "PipelineReference"
						},
						"parameters": {
							"par_search_type": "[parameters('tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_search_type')]",
							"par_url": "[parameters('tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_url')]",
							"par_folder": "[parameters('tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_folder')]",
							"par_url_base": "[parameters('tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_url_base')]",
							"par_cont": "[parameters('tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_cont')]",
							"par_function": "[parameters('tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_function')]",
							"par_tabla": "[parameters('tg_tb_mx_sc_alice_api_historical_outbound_properties_pl_extract_api_tablas_inb_outb_parameters_par_tabla')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-04-10T20:53:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								1
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_afs_npp_1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_afs_npp",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Month",
						"interval": 1,
						"startTime": "2023-07-02T13:51:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								35
							],
							"hours": [
								17
							],
							"monthDays": [
								1
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_afs_npp_2')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_afs_npp",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2023-07-04T17:15:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								15
							],
							"hours": [
								8
							],
							"weekDays": [
								"Monday"
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_api_drivin_daily')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "DelimitedText1",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value\n",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Token",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Proveedor",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "par_header_key",
										"value": {
											"value": "@item().Prop_1",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set variable Fecha Hoy",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Token",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "var_set_fecha_hoy",
										"value": {
											"value": "@formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Set variable Fecha Hoy",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_extract_origenes_copy1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"par_url": "https://external.driv.in/",
											"par_stardate": {
												"value": "@variables('var_set_fecha_hoy')",
												"type": "Expression"
											},
											"par_enddate": {
												"value": "@variables('var_set_fecha_hoy')",
												"type": "Expression"
											},
											"par_header_key": {
												"value": "@variables('par_header_key')",
												"type": "Expression"
											},
											"par_provee": {
												"value": "@variables('par_provee')",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Proveedor",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "par_provee",
										"value": {
											"value": "@item().Prop_0",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Switch1",
									"type": "Switch",
									"dependsOn": [
										{
											"activity": "Execute Pipeline1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"on": {
											"value": "@if(contains(variables('par_provee'),'Velbus'),'Velbus',if(contains(variables('par_provee'),'Oplays'),'Oplays','Default'))",
											"type": "Expression"
										},
										"cases": [
											{
												"value": "Velbus",
												"activities": [
													{
														"name": "Silver Velbus",
														"type": "DatabricksNotebook",
														"dependsOn": [],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"notebookPath": "/Repos/valeria.camacho1@mx.nestle.com/DatabricksMX/sl_ncdt/sl_Driv_In_API/execution/0020_load_silver_tb_mx_sc_drivin_velbus"
														},
														"linkedServiceName": {
															"referenceName": "lk_nmex_dv_origenesmx_id_usw2_dbr",
															"type": "LinkedServiceReference",
															"parameters": {
																"par_cluster": "0130-211945-mcv1mi12"
															}
														}
													}
												]
											},
											{
												"value": "Oplays",
												"activities": [
													{
														"name": "Silver Oplays",
														"type": "DatabricksNotebook",
														"dependsOn": [],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"notebookPath": "/Repos/valeria.camacho1@mx.nestle.com/DatabricksMX/sl_ncdt/sl_Driv_In_API/execution/0020_load_silver_tb_mx_sc_drivin_oplays"
														},
														"linkedServiceName": {
															"referenceName": "lk_nmex_dv_origenesmx_id_usw2_dbr",
															"type": "LinkedServiceReference",
															"parameters": {
																"par_cluster": "0130-211945-mcv1mi12"
															}
														}
													}
												]
											}
										],
										"defaultActivities": [
											{
												"name": "Silver Generico",
												"type": "DatabricksNotebook",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"notebookPath": "/Repos/valeria.camacho1@mx.nestle.com/DatabricksMX/sl_ncdt/sl_Driv_In_API/execution/0020_load_silver_mx_tb_drivin_apis"
												},
												"linkedServiceName": {
													"referenceName": "lk_nmex_dv_origenesmx_id_usw2_dbr",
													"type": "LinkedServiceReference",
													"parameters": {
														"par_cluster": "0130-211945-mcv1mi12"
													}
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"par_cont": {
						"type": "string",
						"defaultValue": "dev"
					},
					"par_folder": {
						"type": "string",
						"defaultValue": "/inbound/ext_api_files_new/DRIVIN/"
					}
				},
				"variables": {
					"par_stardate": {
						"type": "String"
					},
					"par_enddate": {
						"type": "String"
					},
					"par_header_key": {
						"type": "String"
					},
					"var_set_fecha_hoy": {
						"type": "String"
					},
					"par_provee": {
						"type": "String"
					}
				},
				"folder": {
					"name": "amsmx_sc_drivin"
				},
				"annotations": [],
				"lastPublishTime": "2023-10-17T16:07:36Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_load_sales')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get ADF DB notebooks parameters",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_adls_datascience_csv",
								"type": "DatasetReference",
								"parameters": {
									"par_directory": "datastore/sales/adf_parameters/",
									"par_filename": "ADF_parameters_db_notebooks.csv",
									"par_delimiter": ",",
									"par_encoding": "UTF-8",
									"par_header": true
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach ADF DB notebooks parameters",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get ADF DB notebooks parameters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get ADF DB notebooks parameters').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "If Condition ADF DB notebooks parameters",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(item().blob_filename,pipeline().parameters.par_blob_filename)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "pl_load_sales",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "pl_common_generic_databricks_notebooks_solution",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"par_db_folder_path": {
															"value": "@string(item().db_folder_path)",
															"type": "Expression"
														},
														"par_db_sol_path": {
															"value": "@string(item().db_sol_path)",
															"type": "Expression"
														},
														"par_solution": {
															"value": "@string(item().solution)",
															"type": "Expression"
														},
														"par_id": {
															"value": "@string(item().id)",
															"type": "Expression"
														},
														"par_parquet": {
															"value": "@string(item().parquet)",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"par_blob_path": {
						"type": "string"
					},
					"par_blob_filename": {
						"type": "string"
					}
				},
				"variables": {
					"var_db_folder_path": {
						"type": "String"
					},
					"var_db_sol_path": {
						"type": "String"
					},
					"var_solution": {
						"type": "String"
					},
					"var_id": {
						"type": "String"
					},
					"var_test": {
						"type": "String"
					}
				},
				"folder": {
					"name": "amsmx_sales"
				},
				"annotations": [],
				"lastPublishTime": "2023-08-07T23:28:33Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_master_copy_tipification_to_lake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "API Copy Sharepoint to Lake",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pl_common_verify_file_sharepoint",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_common_shp_copy-multiplefilestodatalakehourfilter",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"parAdlsDestinationFolder": "inbound/credit_notes/files_tipification",
								"parFileName": "Tipification",
								"parShpSiteUrl": "https://nestle.sharepoint.com/teams/nmex-tipification-trabajo",
								"parShpRelativeFolderPath": "Documentos Compartilhados",
								"parModifiedLastNHours": "200",
								"parClientID": "https://nmexdvorigmxdhusw2key.vault.azure.net/secrets/shp-clientid-nmex-trabajo-tipification/?api-version=7.0",
								"parClientSecret": "https://nmexdvorigmxdhusw2key.vault.azure.net/secrets/shp-clientsecret-nmex-trabajo-tipification/?api-version=7.0",
								"par_UtcNowVar": {
									"value": "@variables('var_UtcNow')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "utcNowFolder",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "var_UtcNow",
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "pl_common_verify_file_sharepoint",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "utcNowFolder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_common_verify_file_sharepoint",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pl_common_load_extract_tipification",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "API Copy Sharepoint to Lake",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_common_load_extract_tipification",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pl_common_extract_log_register",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pl_common_load_extract_tipification",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_common_extract_log_register",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pl_common_extract_log_register_failure",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pl_common_verify_file_sharepoint",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_common_extract_log_register",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pl_common_extract_log_register_failure_01",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "API Copy Sharepoint to Lake",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_common_extract_log_register",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"var_UtcNow": {
						"type": "String"
					},
					"var_FileTipificationNameOut": {
						"type": "String"
					}
				},
				"folder": {
					"name": "amsmx_finance_creditnotes"
				},
				"annotations": [],
				"lastPublishTime": "2023-08-07T23:28:34Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_alice_tb_mx_sc_ageing')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_master_extract_tables_alice",
							"type": "PipelineReference"
						},
						"parameters": {
							"m_parContainer": "[parameters('tg_alice_tb_mx_sc_ageing_properties_pl_master_extract_tables_alice_parameters_m_parContainer')]",
							"m_parFileNameTitle": "[parameters('tg_alice_tb_mx_sc_ageing_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle')]",
							"m_parPathDestination": "[parameters('tg_alice_tb_mx_sc_ageing_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination')]",
							"m_parPathCopy": "[parameters('tg_alice_tb_mx_sc_ageing_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy')]",
							"m_parFileNameCopy": "[parameters('tg_alice_tb_mx_sc_ageing_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-04-20T07:15:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								15
							],
							"hours": [
								7
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_alice_tb_mx_sc_atp')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_master_extract_tables_alice",
							"type": "PipelineReference"
						},
						"parameters": {
							"m_parContainer": "[parameters('tg_alice_tb_mx_sc_atp_properties_pl_master_extract_tables_alice_parameters_m_parContainer')]",
							"m_parFileNameTitle": "[parameters('tg_alice_tb_mx_sc_atp_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle')]",
							"m_parPathDestination": "[parameters('tg_alice_tb_mx_sc_atp_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination')]",
							"m_parPathCopy": "[parameters('tg_alice_tb_mx_sc_atp_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy')]",
							"m_parFileNameCopy": "[parameters('tg_alice_tb_mx_sc_atp_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-04-21T07:15:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								15
							],
							"hours": [
								7,
								15,
								23
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_alice_tb_mx_sc_catalogos')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_master_extract_catalogs",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-04-20T07:15:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								15
							],
							"hours": [
								7,
								12,
								18
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_alice_tb_mx_sc_lt23')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Calendarizacion de la tabla lt23 cada hora",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_master_extract_tables_alice",
							"type": "PipelineReference"
						},
						"parameters": {
							"m_parContainer": "[parameters('tg_alice_tb_mx_sc_lt23_properties_pl_master_extract_tables_alice_parameters_m_parContainer')]",
							"m_parFileNameTitle": "[parameters('tg_alice_tb_mx_sc_lt23_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle')]",
							"m_parPathDestination": "[parameters('tg_alice_tb_mx_sc_lt23_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination')]",
							"m_parPathCopy": "[parameters('tg_alice_tb_mx_sc_lt23_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy')]",
							"m_parFileNameCopy": "[parameters('tg_alice_tb_mx_sc_lt23_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-04-18T18:35:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								2,
								3,
								4,
								5,
								6,
								7,
								8,
								9,
								10,
								11,
								12,
								13,
								14,
								15,
								16,
								17,
								18,
								19,
								20,
								21,
								22,
								23,
								0
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_alice_tb_mx_sc_lx03')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_master_extract_tables_alice",
							"type": "PipelineReference"
						},
						"parameters": {
							"m_parContainer": "[parameters('tg_alice_tb_mx_sc_lx03_properties_pl_master_extract_tables_alice_parameters_m_parContainer')]",
							"m_parFileNameTitle": "[parameters('tg_alice_tb_mx_sc_lx03_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle')]",
							"m_parPathDestination": "[parameters('tg_alice_tb_mx_sc_lx03_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination')]",
							"m_parPathCopy": "[parameters('tg_alice_tb_mx_sc_lx03_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy')]",
							"m_parFileNameCopy": "[parameters('tg_alice_tb_mx_sc_lx03_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-04-20T07:15:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								15
							],
							"hours": [
								7
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_alice_tb_mx_sc_mb5t')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_master_extract_tables_alice",
							"type": "PipelineReference"
						},
						"parameters": {
							"m_parContainer": "[parameters('tg_alice_tb_mx_sc_mb5t_properties_pl_master_extract_tables_alice_parameters_m_parContainer')]",
							"m_parFileNameTitle": "[parameters('tg_alice_tb_mx_sc_mb5t_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle')]",
							"m_parPathDestination": "[parameters('tg_alice_tb_mx_sc_mb5t_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination')]",
							"m_parPathCopy": "[parameters('tg_alice_tb_mx_sc_mb5t_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy')]",
							"m_parFileNameCopy": "[parameters('tg_alice_tb_mx_sc_mb5t_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-04-20T07:15:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								8,
								9,
								10,
								11,
								12,
								13,
								14,
								15,
								16,
								17,
								18,
								19,
								20,
								21,
								22,
								23,
								7,
								6,
								5,
								4,
								3,
								2,
								0
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_alice_tb_mx_sc_me2n')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_master_extract_tables_alice",
							"type": "PipelineReference"
						},
						"parameters": {
							"m_parContainer": "[parameters('tg_alice_tb_mx_sc_me2n_properties_pl_master_extract_tables_alice_parameters_m_parContainer')]",
							"m_parFileNameTitle": "[parameters('tg_alice_tb_mx_sc_me2n_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle')]",
							"m_parPathDestination": "[parameters('tg_alice_tb_mx_sc_me2n_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination')]",
							"m_parPathCopy": "[parameters('tg_alice_tb_mx_sc_me2n_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy')]",
							"m_parFileNameCopy": "[parameters('tg_alice_tb_mx_sc_me2n_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-04-20T07:15:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								15
							],
							"hours": [
								7
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_alice_tb_mx_sc_me80fn')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_master_extract_tables_alice",
							"type": "PipelineReference"
						},
						"parameters": {
							"m_parContainer": "[parameters('tg_alice_tb_mx_sc_me80fn_properties_pl_master_extract_tables_alice_parameters_m_parContainer')]",
							"m_parFileNameTitle": "[parameters('tg_alice_tb_mx_sc_me80fn_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle')]",
							"m_parPathDestination": "[parameters('tg_alice_tb_mx_sc_me80fn_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination')]",
							"m_parPathCopy": "[parameters('tg_alice_tb_mx_sc_me80fn_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy')]",
							"m_parFileNameCopy": "[parameters('tg_alice_tb_mx_sc_me80fn_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-04-20T07:15:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								8,
								9,
								10,
								11,
								12,
								13,
								14,
								15,
								16,
								17,
								18,
								19,
								20,
								21,
								22,
								23,
								7,
								6,
								5,
								4,
								3,
								2,
								0
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_alice_tb_mx_sc_otr')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_master_extract_tables_alice",
							"type": "PipelineReference"
						},
						"parameters": {
							"m_parContainer": "[parameters('tg_alice_tb_mx_sc_otr_properties_pl_master_extract_tables_alice_parameters_m_parContainer')]",
							"m_parFileNameTitle": "[parameters('tg_alice_tb_mx_sc_otr_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle')]",
							"m_parPathDestination": "[parameters('tg_alice_tb_mx_sc_otr_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination')]",
							"m_parPathCopy": "[parameters('tg_alice_tb_mx_sc_otr_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy')]",
							"m_parFileNameCopy": "[parameters('tg_alice_tb_mx_sc_otr_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-04-20T07:15:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								8,
								9,
								10,
								11,
								12,
								13,
								14,
								15,
								16,
								17,
								18,
								19,
								20,
								21,
								22,
								23,
								7,
								6,
								5,
								4,
								3,
								2,
								0
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_alice_tb_mx_sc_otr_contabilizado')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_master_extract_tables_alice",
							"type": "PipelineReference"
						},
						"parameters": {
							"m_parContainer": "[parameters('tg_alice_tb_mx_sc_otr_contabilizado_properties_pl_master_extract_tables_alice_parameters_m_parContainer')]",
							"m_parFileNameTitle": "[parameters('tg_alice_tb_mx_sc_otr_contabilizado_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle')]",
							"m_parPathDestination": "[parameters('tg_alice_tb_mx_sc_otr_contabilizado_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination')]",
							"m_parPathCopy": "[parameters('tg_alice_tb_mx_sc_otr_contabilizado_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy')]",
							"m_parFileNameCopy": "[parameters('tg_alice_tb_mx_sc_otr_contabilizado_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-04-20T07:15:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								15
							],
							"hours": [
								7
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_alice_tb_mx_sc_trm_log')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_master_extract_tables_alice",
							"type": "PipelineReference"
						},
						"parameters": {
							"m_parContainer": "[parameters('tg_alice_tb_mx_sc_trm_log_properties_pl_master_extract_tables_alice_parameters_m_parContainer')]",
							"m_parFileNameTitle": "[parameters('tg_alice_tb_mx_sc_trm_log_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle')]",
							"m_parPathDestination": "[parameters('tg_alice_tb_mx_sc_trm_log_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination')]",
							"m_parPathCopy": "[parameters('tg_alice_tb_mx_sc_trm_log_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy')]",
							"m_parFileNameCopy": "[parameters('tg_alice_tb_mx_sc_trm_log_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-04-20T07:15:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								15
							],
							"hours": [
								7
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_alice_tb_mx_sc_vl06f_con')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_master_extract_tables_alice",
							"type": "PipelineReference"
						},
						"parameters": {
							"m_parContainer": "[parameters('tg_alice_tb_mx_sc_vl06f_con_properties_pl_master_extract_tables_alice_parameters_m_parContainer')]",
							"m_parFileNameTitle": "[parameters('tg_alice_tb_mx_sc_vl06f_con_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle')]",
							"m_parPathDestination": "[parameters('tg_alice_tb_mx_sc_vl06f_con_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination')]",
							"m_parPathCopy": "[parameters('tg_alice_tb_mx_sc_vl06f_con_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy')]",
							"m_parFileNameCopy": "[parameters('tg_alice_tb_mx_sc_vl06f_con_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-04-20T07:15:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								15
							],
							"hours": [
								7
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_alice_tb_mx_sc_vl06f_nac')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_master_extract_tables_alice",
							"type": "PipelineReference"
						},
						"parameters": {
							"m_parContainer": "[parameters('tg_alice_tb_mx_sc_vl06f_nac_properties_pl_master_extract_tables_alice_parameters_m_parContainer')]",
							"m_parFileNameTitle": "[parameters('tg_alice_tb_mx_sc_vl06f_nac_properties_pl_master_extract_tables_alice_parameters_m_parFileNameTitle')]",
							"m_parPathDestination": "[parameters('tg_alice_tb_mx_sc_vl06f_nac_properties_pl_master_extract_tables_alice_parameters_m_parPathDestination')]",
							"m_parPathCopy": "[parameters('tg_alice_tb_mx_sc_vl06f_nac_properties_pl_master_extract_tables_alice_parameters_m_parPathCopy')]",
							"m_parFileNameCopy": "[parameters('tg_alice_tb_mx_sc_vl06f_nac_properties_pl_master_extract_tables_alice_parameters_m_parFileNameCopy')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-04-19T07:15:00",
						"timeZone": "Central Standard Time (Mexico)",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								8,
								9,
								10,
								11,
								12,
								13,
								14,
								15,
								16,
								17,
								18,
								19,
								20,
								21,
								22,
								23,
								7,
								6,
								5,
								4,
								3,
								2,
								0
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_amsmx_sales_nieto')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_common_generic_api",
							"type": "PipelineReference"
						},
						"parameters": {
							"par_retailer": "[parameters('tr_amsmx_sales_nieto_properties_pl_common_generic_api_parameters_par_retailer')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-06-03T05:00:00",
						"timeZone": "Central Standard Time"
					}
				}
			},
			"dependsOn": []
		}
	]
}